*{  margin: 0;
  padding: 0;}
html, body {
  height: 100vh;
}

@font-face {
    font-family: "signika_bold";
    src: url("typos/signika/Signika-Bold.ttf") format("truetype");
}



#arbre_droite {
	position: fixed;
	height: 100vh;
	right: 8vh;
}

#soleil_1 {
    left: 2.5vh;
	top: 2.5vh;
	position: fixed;
	height: 20vh;
}

#soleil_2 {
    left: 2.5vh;
	top: 2.5vh;
	position: fixed;
	height: 20vh;
    opacity: 0;
	transition: 1s;
}
#soleil_2:hover{
	opacity: 100;
	transition: 1s;
}

#profil {
	position: fixed;
	width: auto;
	max-height: 100vh;
	left: 0%;
	top: 0%;
	overflow: visible;
    box-shadow: 5px 0px 25px #3B3B3B;
}

#droite {
	position: relative;
	display: flex;
	margin-left: 65vh;
	max-width: 70vw;
}


#a_propos 
{
	margin-top: 35vh;
	margin-left: 0;
    min-width:  10vw;
	max-width: 20vw;
	position: relative;
	overflow: auto;
	color: black;
}

h1{
	font-size: 6vh;
	font-style: normal;
	font-weight: normal;
	text-align: left;
    font-family: "signika_bold";
}

p{
	position: relative;
	overflow: visible;
	text-align: left;
	font-style: normal;
	font-weight: normal;
	top: 0;
	font-size: 2.25vmin;
	margin-right: 2vw
}

#coordonnees {
	margin-top: 35vh;
	margin-left: 22.5vw;
    min-width:  10vw;
	max-width: 20vw;
	position: absolute;
	overflow: auto;
	color: black;
}

h2 {
	font-size: 6vh;
	font-style: normal;
	font-weight: normal;
	text-align: left;
    font-family: "signika_bold";
}

p1 {
	position: relative;
	overflow: visible;
	text-align: left;
	font-style: normal;
	font-weight: normal;
	top: 0;
	font-size: 2.25vmin;
	margin-right: 2vw
}

#prix {
	margin-top: 55vh;
	margin-left: 0;
    min-width:  10vw;
	max-width: 20vw;
	position: absolute;
	overflow: auto;
	color: black;
}

h3 {
	font-size: 6vh;
	font-style: normal;
	font-weight: normal;
	text-align: left;
    font-family: "signika_bold";
}

p2 {
	position: relative;
	overflow: visible;
	text-align: left;
	font-style: normal;
	font-weight: normal;
	top: 0;
	font-size: 2.25vmin;
	margin-right: 2vw
}

#experience {
	margin-top: 55vh;
	margin-left: 22.5vw;
    min-width:  10vw;
	max-width: 20vw;
	position: absolute;
	overflow: auto;
	color: black;
}

h4 {
	font-size: 6vh;
	font-style: normal;
	font-weight: normal;
	text-align: left;
    font-family: "signika_bold";
}

p3 {
	position: relative;
	overflow: visible;
	text-align: left;
	font-style: normal;
	font-weight: normal;
	top: 0;
	font-size: 2.25vmin;
	margin-right: 2vw
}

#en {
	right: 5vh;
	bottom: 7.5vh;
	position: fixed;
	overflow: visible;
	white-space: nowrap;
	cursor: pointer;
	text-align: left;
	font-style: normal;
	font-weight: normal;
	font-size: 4vh;
	color: black;   
    font-family: "signika_bold";
}

#en:hover{
    text-shadow: 1px 1px 1px grey;
}

#credit {
	position: fixed;
	width: 20vw;
	margin-left: 0;
    right: auto;
	bottom: 1vh;
	font-size: 2.5vh;
	color: rgba(47,47,47,1);
}

#references {
	right: 5vh;
	top: 7.5vh;
	position: fixed;
	overflow: visible;
	white-space: nowrap;
	cursor: pointer;
	text-align: left;
	font-style: normal;
	font-weight: normal;
	font-size: 4vh;
	color: black;
    font-family: "signika_bold";
}

#references:hover{
    text-shadow: 1px 1px 1px grey;
}