*{  margin: 0;
  padding: 0;}

@font-face {
    font-family: "signika_bold";
    src: url("typos/signika/Signika-Bold.ttf") format("truetype");
}

#profil {
    display: block;
    margin-left: 2.5vh;
	margin-right: auto;
    height: 70vh;
	margin-top: 2.5vh;    	
    border-radius: 2.5vh;
    box-shadow: 5px 5px 5px grey;
}

#a_propos 
{
	
	margin-top: 10vh;
	margin-left: 5vh;
    margin-bottom: 10vh;
	position: relative;
    width: 57.5vw;
	color: black;
}
h1{
	font-size: 6vh;
	font-style: normal;
	font-weight: normal;
	text-align: left;
    font-family: "signika_bold";
}
p{
	position: relative;
	overflow: visible;
	text-align: left;
	font-style: normal;
	font-weight: normal;
	top: 0;
	font-size: 2.5vh;
	margin-right: 5vh;
}

#coordonnees {
	margin-top: 0vh;
	margin-left: 5vh;
    margin-bottom: 10vh;
	position: relative;
    width: 57.5vw;
	color: black;
}

h2{
	font-size: 6vh;
	font-style: normal;
	font-weight: normal;
	text-align: left;
    font-family: "signika_bold";
}

p1{
	position: relative;
	overflow: visible;
	text-align: left;
	font-style: normal;
	font-weight: normal;
	top: 0;
	font-size: 2.5vh;
	margin-right: 5vh;
}

#prix {
	margin-top: 0vh;
	margin-left: 5vh;
    margin-bottom: 10vh;
	position: relative;
    width: 57.5vw;
	color: black;
}

h3{
	font-size: 6vh;
	font-style: normal;
	font-weight: normal;
	text-align: left;
    font-family: "signika_bold";
}

p2{
	position: relative;
	overflow: visible;
	text-align: left;
	font-style: normal;
	font-weight: normal;
	top: 0;
	font-size: 2.5vh;
	margin-right: 5vh;
}

#experience {
	margin-top: 0vh;
	margin-left: 5vh;
    margin-bottom: 10vh;
	position: relative;
    width: 57.5vw;
	color: black;
}

h4{
	font-size: 6vh;
	font-style: normal;
	font-weight: normal;
	text-align: left;
    font-family: "signika_bold";
}

p3{
	position: relative;
	overflow: visible;
	text-align: left;
	font-style: normal;
	font-weight: normal;
	top: 0;
	font-size: 2.5vh;
	margin-right: 5vh;
}

#credit {
	margin-left: 2.5vh;
	margin-top: 50vh;
	position: relative;
	overflow: visible;
	white-space: nowrap;
	cursor: pointer;
	text-align: left;
	font-style: normal;
	font-weight: normal;
	font-size: 2vh;
}

#soleil_1 {
	opacity: 0;
    height: 0px;
}

#soleil_2 {
	left: 2vh;
	top: 2vh;
    height: 15vh;
	position: fixed;
}


#arbre_droite {
	position: fixed;
	height: 100vh;
	right: -27.5vh;
    top: 0;
}

#references {
	right: 2.5vh;
	top: 2.5vh;
	position: fixed;
	overflow: visible;
	white-space: nowrap;
	cursor: pointer;
	text-align: left;
	font-style: normal;
	font-weight: normal;
	font-size: 4vh;
	color: black;
    font-family: "signika_bold";
    text-shadow: 1px 1px 1px white;
}


#en {
	right: 5vh;
	bottom: 3vh;
	position: fixed;
	overflow: visible;
	white-space: nowrap;
	cursor: pointer;
	text-align: left;
	font-style: normal;
	font-weight: normal;
	font-size: 4vh;
	color: black;
    font-family: "signika_bold";
    text-shadow: 2px 2px 2px white;
}