*{  margin: 0;
  padding: 0;}
html, body {
  height: 100vh;
}

#profil {
	position: fixed;
	width: auto;
	max-height: 100vh;
	left: 0%;
	top: 0%;
	overflow: visible;
}

#droite {
	position: relative;
	display: flex;
	margin-left: 65vh;
	max-width: 70vw;
	

}


#a_propos 
{
	margin-top: 35vh;
	margin-left: 0;
    min-width:  20vw;
	max-width: 30vw;
	position: relative;
	overflow: auto;
}
h1{
	font-size: 6vh;
	font-style: normal;
	font-weight: normal;
	color: rgba(47,47,47,1);
	text-align: left;
}
p{
	position: relative;
	overflow: visible;
	text-align: left;
	font-style: normal;
	font-weight: normal;
	color: rgba(47,47,47,1);
	top: 0;
	font-size: 2.25vmin;
	margin-right: 2vw
}

#coordonnees {
	margin-top: 35vh;
	margin-left: 30vw;
    min-width:  20vw;
	max-width: 30vw;
	position: absolute;
	overflow: auto;
}
h2{
	font-size: 6vh;
	font-style: normal;
	font-weight: normal;
	color: rgba(47,47,47,1);
	text-align: left;
}
p1{
	position: relative;
	overflow: visible;
	text-align: left;
	font-style: normal;
	font-weight: normal;
	color: rgba(47,47,47,1);
	top: 0;
	font-size: 2.25vmin;
	margin-right: 2vw
}

#prix
{
	margin-top: 60vh;
	margin-left: 0;
    min-width:  20vw;
	max-width: 25vw;
	position: absolute;
	overflow: auto;
}
h3{
	font-size: 6vh;
	font-style: normal;
	font-weight: normal;
	color: rgba(47,47,47,1);
	text-align: left;
}
p2{
	position: relative;
	overflow: visible;
	text-align: left;
	font-style: normal;
	font-weight: normal;
	color: rgba(47,47,47,1);
	top: 0;
	font-size: 2.25vmin;
	margin-right: 2vw
}

#experience {
	margin-top: 60vh;
	margin-left: 30vw;
    min-width:  20vw;
	max-width: 30vw;
	position: absolute;
	overflow: auto;
}
h4{
	font-size: 6vh;
	font-style: normal;
	font-weight: normal;
	color: rgba(47,47,47,1);
	text-align: left;
}
p3{
	position: relative;
	overflow: visible;
	text-align: left;
	font-style: normal;
	font-weight: normal;
	color: rgba(47,47,47,1);
	top: 0;
	font-size: 2.25vmin;
	margin-right: 2vw
}

#ah {
	left: 5vh;
	top: 3vh;
	position: fixed;
	overflow: visible;
	white-space: nowrap;
	cursor: pointer;
	text-align: left;
	font-style: normal;
	font-weight: normal;
	font-size: 7vh;
	color: rgba(232,232,232,1);
}


#contact {
	right: 5vh;
	top: 3vh;
	position: fixed;
	overflow: visible;
	white-space: nowrap;
	cursor: pointer;
	text-align: left;
	font-style: normal;
	font-weight: normal;
	font-size: 7vh;
	color: rgba(47,47,47,1);
}

#en {
	right: 5vh;
	bottom: 3vh;
	position: fixed;
	overflow: visible;
	white-space: nowrap;
	cursor: pointer;
	text-align: left;
	font-style: normal;
	font-weight: normal;
	font-size: 7vh;
	color: rgba(47,47,47,1);
}

#fr {
	right: 5vh;
	bottom: 3vh;
	position: fixed;
	overflow: visible;
	white-space: nowrap;
	cursor: pointer;
	text-align: left;
	font-style: normal;
	font-weight: normal;
	font-size: 7vh;
	color: rgba(47,47,47,1);
}

#liens {
	left: 5vh;
	bottom: 3vh;
	position: fixed;
	overflow: visible;
	white-space: nowrap;
	cursor: pointer;
	text-align: left;
	font-style: normal;
	font-weight: normal;
	font-size: 7vh;
	color: rgba(232,232,232,1);
}

#fr:hover{
	text-decoration: 0.4vh blue wavy underline;
}

#en:hover{
	text-decoration: 0.4vh blue wavy underline;
}

#ah:hover{
	text-decoration: 0.4vh blue wavy underline;
}

#contact:hover{
	text-decoration: 0.4vh blue wavy underline;
}

#liens:hover{
	text-decoration: 0.4vh blue wavy underline;
}