*{  margin: 0;
  padding: 0;}
html, body {
  height: 100vh;

}

#profil {
	position: fixed;
	width: auto;
	max-height: 100vh;
	left: 0%;
	top: 0%;
	overflow: visible;
}

#droite {
	position: relative;
	display: flex;
	margin-left: 65vh;
	max-width: 70vw;
	

}


#a_propos 
{
	margin-top: 35vh;
	margin-left: 0;
    min-width:  20vw;
	max-width: 30vw;
	position: relative;
	overflow: auto;
}
h1{
	font-family: Segoe UI;
	font-size: 6vh;
	font-style: normal;
	font-weight: normal;
	color: rgba(112,112,112,1);
	text-align: left;
}
p{
	position: relative;
	overflow: visible;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	color: rgba(112,112,112,1);
	top: 0;
	font-size: 2vmin;
	margin-right: 2vw
}

#coordonnees {
	margin-top: 35vh;
	margin-left: 30vw;
    min-width:  20vw;
	max-width: 30vw;
	position: absolute;
	overflow: auto;
}
h2{
	font-family: Segoe UI;
	font-size: 6vh;
	font-style: normal;
	font-weight: normal;
	color: rgba(112,112,112,1);
	text-align: left;
}
p1{
	position: relative;
	overflow: visible;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	color: rgba(112,112,112,1);
	top: 0;
	font-size: 2vmin;
	margin-right: 2vw
}

#ah {
	left: 5vh;
	top: 3vh;
	position: fixed;
	overflow: visible;
	white-space: nowrap;
	cursor: pointer;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 8vh;
	color: rgba(232,232,232,1);
}


#Contact {
	right: 5vh;
	top: 3vh;
	position: fixed;
	overflow: visible;
	white-space: nowrap;
	cursor: pointer;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 8vh;
	color: rgba(112,112,112,1);
}

#ah:hover{
	color: #293785;
	transition: 0.6s ease;
}

#Contact:hover{
	color: #293785;
	transition: 0.6s ease;
}