*{  margin: 0;
  padding: 0;}
html, body {
  width: auto;
}

@font-face {
    font-family: "signika_bold";
    src: url("typos/signika/Signika-Bold.ttf") format("truetype");
}

#date1 {
	opacity: 0;
}

#date2 {
	opacity: 0;
}

#date3 {
	opacity: 0;
}

#date4 {
	opacity: 0;
}

#date5 {
	opacity: 0;
}

#date6 {
	opacity: 0;
}

#date7 {
	opacity: 0;
}

#date8 {
	opacity: 0;
}

#date9 {
	opacity: 0;
}

#date10 {
	opacity: 0;
}

#image_1 {
	display: block;
    margin-left: auto;
	margin-right: 2.5vh;
    height: 70vh;
	margin-top: 10vh;    	
    border-radius: 2.5vh;
    box-shadow: 5px 5px 5px grey;
}

#image_2 {
	display: block;
	margin-left: auto;
	margin-right: 2.5vh;
    height:70vh;
	margin-top: 15vh;    	
    border-radius: 2.5vh;
    box-shadow: 5px 5px 5px grey;
}


#image_3 {
	display: block;
	margin-left: auto;
	margin-right: 2.5vh;
    height:70vh;
	margin-top: 15vh;
    margin-bottom: 15vh;    	
    border-radius: 2.5vh;
    box-shadow: 5px 5px 5px grey;	
}


#image_4 {
	display: block;
	margin-left: auto;
	margin-right: 2.5vh;
    height:70vh;
	margin-top: 15vh;
    margin-bottom: 15vh;    	
    border-radius: 2.5vh;
    box-shadow: 5px 5px 5px grey;	
}


#image_5 {
	display: block;
	margin-left: auto;
	margin-right: 2.5vh;
    height:70vh;
	margin-top: 15vh;
    margin-bottom: 15vh;    	
    border-radius: 2.5vh;
    box-shadow: 5px 5px 5px grey;	
}


#image_6 {
	display: block;
	margin-left: auto;
	margin-right: 2.5vh;
    height:70vh;
	margin-top: 15vh;
    margin-bottom: 15vh;    	
    border-radius: 2.5vh;
    box-shadow: 5px 5px 5px grey;	
}


#image_7 {
	display: block;
	margin-left: auto;
	margin-right: 2.5vh;
    height:70vh;
	margin-top: 15vh;
    margin-bottom: 15vh;    	
    border-radius: 2.5vh;
    box-shadow: 5px 5px 5px grey;	
}


#image_8 {
	display: block;
	margin-left: auto;
	margin-right: 2.5vh;
    height:70vh;
	margin-top: 15vh;
    margin-bottom: 15vh;    	
    border-radius: 2.5vh;
    box-shadow: 5px 5px 5px grey;	
}


#image_9 {
	display: block;
	margin-left: auto;
	margin-right: 2.5vh;
    height:70vh;
	margin-top: 15vh;
    margin-bottom: 15vh;    	
    border-radius: 2.5vh;
    box-shadow: 5px 5px 5px grey;	
}


#image_10 {
	display: block;
	margin-left: auto;
	margin-right: 2.5vh;
    height:70vh;
	margin-top: 15vh;
    margin-bottom: 0vh;    	
    border-radius: 2.5vh;
    box-shadow: 5px 5px 5px grey;	
}


#image_11 {
	display: block;
	margin-left: auto;
	margin-right: 2.5vh;
    height:70vh;
	margin-top: 15vh;
    margin-bottom: 15vh;    	
    border-radius: 2.5vh;
    box-shadow: 5px 5px 5px grey;	
}


#image_12 {
	display: block;
	margin-left: auto;
	margin-right: 2.5vh;
    height:70vh;
	margin-top: 15vh;
    margin-bottom: 15vh;    	
    border-radius: 2.5vh;
    box-shadow: 5px 5px 5px grey;	
}


#image_13 {
	display: block;
	margin-left: auto;
	margin-right: 2.5vh;
    height:70vh;
	margin-top: 15vh;
    margin-bottom: 15vh;    	
    border-radius: 2.5vh;
    box-shadow: 5px 5px 5px grey;	
}


#image_14 {
	display: block;
	margin-left: auto;
	margin-right: 2.5vh;
    height:70vh;
	margin-top: 15vh;
    margin-bottom: 15vh;    	
    border-radius: 2.5vh;
    box-shadow: 5px 5px 5px grey;	
}


#image_15 {
	display: block;
	margin-left: auto;
	margin-right: 2.5vh;
    height:70vh;
	margin-top: 15vh;
    margin-bottom: 15vh;    	
    border-radius: 2.5vh;
    box-shadow: 5px 5px 5px grey;	
}


#image_16 {
	display: block;
	margin-left: auto;
	margin-right: 2.5vh;
    height:70vh;
	margin-top: 15vh;
    margin-bottom: 15vh;    	
    border-radius: 2.5vh;
    box-shadow: 5px 5px 5px grey;	
}


#image_17 {
	display: block;
	margin-left: auto;
	margin-right: 2.5vh;
    height:70vh;
	margin-top: 15vh;
    margin-bottom: 15vh;    	
    border-radius: 2.5vh;
    box-shadow: 5px 5px 5px grey;	
}


#image_18 {
	display: block;
	margin-left: auto;
	margin-right: 2.5vh;
    height:70vh;
	margin-top: 15vh;
    margin-bottom: 15vh;    	
    border-radius: 2.5vh;
    box-shadow: 5px 5px 5px grey;	
}


#image_19 {
	display: block;
	margin-left: auto;
	margin-right: 2.5vh;
    height:70vh;
	margin-top: 15vh;
    margin-bottom: 15vh;    	
    border-radius: 2.5vh;
    box-shadow: 5px 5px 5px grey;	
}


#image_20 {
	display: block;
	margin-left: auto;
	margin-right: 2.5vh;
    height:70vh;
	margin-top: 15vh;
    margin-bottom: 15vh;    	
    border-radius: 2.5vh;
    box-shadow: 5px 5px 5px grey;	
}

#soleil_1 {
	opacity: 0;
    height: 0px;
}

#soleil_2 {
	left: 2vh;
	top: 2vh;
    height: 15vh;
	position: fixed;
}

#arbre_gauche {
	left: -25vh;
	height: 100vh;
	position: fixed;
    top: 0;
}

#arbre_droite {
	opacity: 0;
    height: 0px;
}

#apropos {
	right: 2.5vh;
	top: 2.5vh;
	position: fixed;
	overflow: visible;
	white-space: nowrap;
	cursor: pointer;
	text-align: left;
	font-style: normal;
	font-weight: normal;
	font-size: 4vh;
	color: black;
    font-family: "signika_bold";
    text-shadow: 1px 1px 1px white;
}

#global {
	left: 4vh;
	bottom: 12vh;
	position: fixed;
	overflow: visible;
	white-space: nowrap;
	cursor: pointer;
	text-align: left;
	font-style: normal;
	font-weight: normal;
	font-size: 4vh;
	color: black;
    font-family: "signika_bold";
    text-shadow: 2px 2px 2px white;
}

#objets {
	left: 4vh;
	bottom: 8vh;
	position: fixed;
	overflow: visible;
	white-space: nowrap;
	cursor: pointer;
	text-align: left;
	font-style: normal;
	font-weight: normal;
	font-size: 4vh;
	color: black;
    font-family: "signika_bold";
    text-shadow: 2px 2px 2px white;
}

#jeux {
	left: 4vh;
	bottom: 4vh;
	position: fixed;
	overflow: visible;
	white-space: nowrap;
	cursor: pointer;
	text-align: left;
	font-style: normal;
	font-weight: normal;
	font-size: 4vh;
	color: black;
    font-family: "signika_bold";
    text-shadow: 2px 2px 2px white;
}

#en {
	right: 2.5vh;
	bottom: 4vh;
	position: fixed;
	overflow: visible;
	white-space: nowrap;
	cursor: pointer;
	text-align: left;
	font-style: normal;
	font-weight: normal;
	font-size: 4vh;
	color: black;
    font-family: "signika_bold";
    text-shadow: 1px 1px 1px white;
}


#credit {
	margin-right: 5vh;
	margin-top: 10vh;
	display: block;
	overflow: visible;
	white-space: nowrap;
	cursor: pointer;
	text-align: left;
	font-style: normal;
	font-weight: normal;
	font-size: 2vh;
}