*{  margin: 0;
  padding: 0;}
html, body {
  width: auto;
}

#image_1_couleur {
	display: block;
	margin-left: auto;
	margin-right: auto;
    height:70vh;
	margin-top: 15vh;
}

#image_1_nb {
	position: absolute;
	opacity: 0;
	height:0px;
}

#image_2_couleur {
	display: block;
	margin-left: auto;
	margin-right: auto;
    height:70vh;
	margin-top: 15vh;	
}

#image_2_nb {
	position: absolute;
	opacity: 0;
	height:0px;
	
}

#image_3_couleur {
	display: block;
	margin-left: auto;
	margin-right: auto;
    height:70vh;
	margin-top: 15vh;
    margin-bottom: 15vh;	
}

#image_3_nb {
	position: absolute;
	opacity: 0;
	height:0px;
}

#image_4_couleur {
	display: block;
	margin-left: auto;
	margin-right: auto;
    height:70vh;
	margin-top: 15vh;
	margin-bottom: 15vh;
}

#image_4_nb {
	position: absolute;
	opacity: 0;
	height:0px;	
}


#image_5_couleur {
	display: block;
	margin-left: auto;
	margin-right: auto;
    height:70vh;
	margin-top: 15vh;
	margin-bottom: 15vh;
}

#image_5_nb {
	position: absolute;
	opacity: 0;
	height:0px;	
}


#image_6_couleur {
	display: block;
	margin-left: auto;
	margin-right: auto;
    height:70vh;
	margin-top: 15vh;
	margin-bottom: 15vh;
}

#image_6_nb {
	position: absolute;
	opacity: 0;
	height:0px;	
}


#image_7_couleur {
	display: block;
	margin-left: auto;
	margin-right: auto;
    height:70vh;
	margin-top: 15vh;
	margin-bottom: 15vh;
}

#image_7_nb {
	position: absolute;
	opacity: 0;
	height:0px;	
}


#image_8_couleur {
	display: block;
	margin-left: auto;
	margin-right: auto;
    height:70vh;
	margin-top: 15vh;
	margin-bottom: 15vh;
}

#image_8_nb {
	position: absolute;
	opacity: 0;
	height:0px;	
}


#image_9_couleur {
	display: block;
	margin-left: auto;
	margin-right: auto;
    height:70vh;
	margin-top: 15vh;
	margin-bottom: 15vh;
}

#image_9_nb {
	position: absolute;
	opacity: 0;
	height:0px;	
}


#image_10_couleur {
	display: block;
	margin-left: auto;
	margin-right: auto;
    height:70vh;
	margin-top: 15vh;
	margin-bottom: 15vh;
}

#image_10_nb {
	position: absolute;
	opacity: 0;
	height:0px;	
}


#image_11_couleur {
	display: block;
	margin-left: auto;
	margin-right: auto;
    height:70vh;
	margin-top: 15vh;
	margin-bottom: 15vh;
}

#image_11_nb {
	position: absolute;
	opacity: 0;
	height:0px;	
}


#image_12_couleur {
	display: block;
	margin-left: auto;
	margin-right: auto;
    height:70vh;
	margin-top: 15vh;
	margin-bottom: 15vh;
}

#image_12_nb {
	position: absolute;
	opacity: 0;
	height:0px;	
}



#ah {
	left: 5vh;
	top: 3vh;
	position: fixed;
	overflow: visible;
	white-space: nowrap;
	cursor: pointer;
	text-align: left;
	font-style: normal;
	font-weight: normal;
	font-size: 5vh;
	color: rgba(47,47,47,1);
}


#contact {
	right: 5vh;
	top: 3vh;
	position: fixed;
	overflow: visible;
	white-space: nowrap;
	cursor: pointer;
	text-align: left;
	font-style: normal;
	font-weight: normal;
	font-size: 5vh;
	color: rgba(47,47,47,1);
}

#en {
	right: 5vh;
	bottom: 3vh;
	position: fixed;
	overflow: visible;
	white-space: nowrap;
	cursor: pointer;
	text-align: left;
	font-style: normal;
	font-weight: normal;
	font-size: 5vh;
	color: rgba(47,47,47,1);
}

#fr {
	right: 5vh;
	bottom: 3vh;
	position: fixed;
	overflow: visible;
	white-space: nowrap;
	cursor: pointer;
	text-align: left;
	font-style: normal;
	font-weight: normal;
	font-size: 5vh;
	color: rgba(47,47,47,1);
}

#tout {
	left: 5vh;
	bottom: 23vh;
	position: fixed;
	overflow: visible;
	white-space: nowrap;
	cursor: pointer;
	text-align: left;
	font-style: normal;
	font-weight: normal;
	font-size: 5vh;
	color: rgba(47,47,47,1);
}

#tout:hover{
	text-decoration: underline;
	transition: 0.6s ease;
}


#intervenir {
	left: 5vh;
	bottom: 18vh;
	position: fixed;
	overflow: visible;
	white-space: nowrap;
	cursor: pointer;
	text-align: left;
	font-style: normal;
	font-weight: normal;
	font-size: 5vh;
	color: rgba(47,47,47,1);
}

#intervenir:hover{
	text-decoration: underline;
	transition: 0.6s ease;
}

#ameliorer {
	left: 5vh;
	bottom: 13vh;
	position: fixed;
	overflow: visible;
	white-space: nowrap;
	cursor: pointer;
	text-align: left;
	font-style: normal;
	font-weight: normal;
	font-size: 5vh;
	color: rgba(47,47,47,1);
}

#ameliorer:hover{
	text-decoration: underline;
	transition: 0.6s ease;
}

#decorer {
	left: 5vh;
	bottom: 8vh;
	position: fixed;
	overflow: visible;
	white-space: nowrap;
	cursor: pointer;
	text-align: left;
	font-style: normal;
	font-weight: normal;
	font-size: 5vh;
	color: rgba(47,47,47,1);
}

#decorer:hover{
	text-decoration: underline;
	transition: 0.6s ease;
}

#imaginer {
	left: 5vh;
	bottom: 3vh;
	position: fixed;
	overflow: visible;
	white-space: nowrap;
	cursor: pointer;
	text-align: left;
	font-style: normal;
	font-weight: normal;
	font-size: 5vh;
	color: rgba(47,47,47,1);
}

#imaginer:hover{
	text-decoration: underline;
	transition: 0.6s ease;
}

#def {
	display: block;
	margin-left: auto;
	margin-right: auto;
    margin-bottom: 15vh;
	margin-top: 15vh;
	width: 59vw;
	color: rgba(47,47,47,1);
    font-size: 2.5vh;
}

p { 
    font-size: 5vh;
}


#fr:hover{
	text-decoration: underline;
	transition: 0.6s ease;
}

#en:hover{
	text-decoration: underline;
	transition: 0.6s ease;
}

#ah:hover{
	text-decoration: underline;
	transition: 0.6s ease;
}

#contact:hover{
	text-decoration: underline;
	transition: 0.6s ease;
}

#autre:hover{
	text-decoration: underline;
	transition: 0.6s ease;
}
