*{  margin: 0;
  padding: 0;}
html, body {
  height: 100vh;
}

#def {
	position: absolute;
	height: 40vh;
	width: 10vw;
	margin-left: 5vh;
	margin-top: 35vh;
	font-size: 2vh;
	color: rgba(47,47,47,1);
}

h1 { 
    font-size: 3vh;	
}

#lavelinge_nb {
	position: absolute;
	height: 40vh;
	margin-left: 20vw;
	margin-top: 30vh;
}

#lavelinge_nb:hover{
	opacity: 0;
}

#lavelinge_couleur {
	position: absolute;
	height: 40vh;
	margin-left: 20vw;
	margin-top: 30vh;
}

#gardeaufrais_nb {
	position: absolute;
	height: 40vh;
	margin-left: 70vw;
	margin-top: 45vh;
}

#gardeaufrais_nb:hover{
	opacity: 0;
}

#gardeaufrais_couleur {
	position: absolute;
	height: 40vh;
	margin-left: 70vw;
	margin-top: 45vh;
}

#choux_nb {
	position: absolute;
	height: 40vh;
	margin-left: 45vw;
	margin-top: 20vh;
}

#choux_nb:hover{
	opacity: 0;
}

#choux_couleur {
	position: absolute;
	height: 40vh;
	margin-left: 45vw;
	margin-top: 20vh;
}

#ah {
	left: 5vh;
	top: 3vh;
	position: fixed;
	overflow: visible;
	white-space: nowrap;
	cursor: pointer;
	text-align: left;
	font-style: normal;
	font-weight: normal;
	font-size: 7vh;
	color: rgba(47,47,47,1);
}


#contact {
	right: 5vh;
	top: 3vh;
	position: fixed;
	overflow: visible;
	white-space: nowrap;
	cursor: pointer;
	text-align: left;
	font-style: normal;
	font-weight: normal;
	font-size: 7vh;
	color: rgba(47,47,47,1);
}

#en {
	right: 5vh;
	bottom: 3vh;
	position: fixed;
	overflow: visible;
	white-space: nowrap;
	cursor: pointer;
	text-align: left;
	font-style: normal;
	font-weight: normal;
	font-size: 7vh;
	color: rgba(47,47,47,1);
}

#fr {
	right: 5vh;
	bottom: 3vh;
	position: fixed;
	overflow: visible;
	white-space: nowrap;
	cursor: pointer;
	text-align: left;
	font-style: normal;
	font-weight: normal;
	font-size: 7vh;
	color: rgba(47,47,47,1);
}

#art_deco {
	left: 5vh;
	bottom: 3vh;
	position: fixed;
	overflow: visible;
	white-space: nowrap;
	cursor: pointer;
	text-align: left;
	font-style: normal;
	font-weight: normal;
	font-size: 7vh;
	color: rgba(47,47,47,1);
}

#fr:hover{
	text-decoration: underline;
	transition: 0.6s ease;
}

#en:hover{
	text-decoration: underline;
	transition: 0.6s ease;
}

#ah:hover{
	text-decoration: underline;
	transition: 0.6s ease;
}

#contact:hover{
	text-decoration: underline;
	transition: 0.6s ease;
}

#art_deco:hover{
	text-decoration: underline;
	transition: 0.6s ease;
}