*{  margin: 0;
  padding: 0;}
html, body {
  height: 100vh;
}

@font-face {
    font-family: "signika_bold";
    src: url("typos/signika/Signika-Bold.ttf") format("truetype");
}


#date1 {
	position: absolute;
	left: 32.5vw;
	top: 19vh;
	font-size: 3.5vh;
	color: black;
    font-family: "signika_bold";
}

#date2 {
	position: absolute;
	left: 32.5vw;
	top: 84vh;
	font-size: 3.5vh;
	color: black;
    font-family: "signika_bold";
}

#date3 {
	position: absolute;
	left: 32.5vw;
	top: 149vh;
	font-size: 3.5vh;
	color: black;
    font-family: "signika_bold";
}

#date4 {
	position: absolute;
	left: 32.5vw;
	top: 214vh;
	font-size: 3.5vh;
	color: black;
    font-family: "signika_bold";
}

#date5 {
	position: absolute;
	left: 32.5vw;
	top: 279vh;
	font-size: 3.5vh;
	color: black;
    font-family: "signika_bold";
}

#date6 {
	position: absolute;
	left: 32.5vw;
	top: 344vh;
	font-size: 3.5vh;
	color: black;
    font-family: "signika_bold";
}

#date7 {
	position: absolute;
	left: 32.5vw;
	top: 409vh;
	font-size: 3.5vh;
	color: black;
    font-family: "signika_bold";
}

#date8 {
	position: absolute;
	left: 32.5vw;
	top: 474vh;
	font-size: 3.5vh;
	color: black;
    font-family: "signika_bold";
}

#date9 {
	position: absolute;
	left: 32.5vw;
	top: 539vh;
	font-size: 3.5vh;
	color: black;
    font-family: "signika_bold";
}

#date10 {
	position: absolute;
	left: 32.5vw;
	top: 604vh;
	font-size: 3.5vh;
	color: black;
    font-family: "signika_bold";
}

#image_1 {
	position: absolute;
	height: 50vh;
	left: 32.5vw;
	top: 25vh;    	
    border-radius: 2.5vh;
    transition: 0.5s;
    box-shadow: 5px 5px 5px grey;  
}


#image_1:hover{	
    box-shadow: 10px 10px 10px grey;
    transition: 0.5s;
}

#image_2 {
	position: absolute;
	height: 50vh;
	right: 32.5vw;
	top: 25vh;    	
    border-radius: 2.5vh;
    transition: 0.5s;
    box-shadow: 5px 5px 5px grey;
}

#image_2:hover{		
    box-shadow: 10px 10px 10px grey;
    transition: 0.5s;
}

#image_3 {
	position: absolute;
	height: 50vh;
	left: 32.5vw;
	top: 90vh;    	
    border-radius: 2.5vh;
    transition: 0.5s;
    box-shadow: 5px 5px 5px grey;
}

#image_3:hover{		
    box-shadow: 10px 10px 10px grey;
    transition: 0.5s;
}

#image_4 {
	position: absolute;
	height: 50vh;
	right: 32.5vw;
	top: 90vh;    	
    border-radius: 2.5vh;
    transition: 0.5s;
    box-shadow: 5px 5px 5px grey;
}

#image_4:hover{		
    box-shadow: 10px 10px 10px grey;
    transition: 0.5s;
}

#image_5 {
	position: absolute;
	height: 50vh;
	left: 32.5vw;
	top: 155vh;    	
    border-radius: 2.5vh;
    transition: 0.5s;
    box-shadow: 5px 5px 5px grey;
}

#image_5:hover{		
    box-shadow: 10px 10px 10px grey;
    transition: 0.5s;
}

#image_6 {
	position: absolute;
	height: 50vh;
	right: 32.5vw;
	top: 155vh;    	
    border-radius: 2.5vh;
    transition: 0.5s;
    box-shadow: 5px 5px 5px grey;
}

#image_6:hover{		
    box-shadow: 10px 10px 10px grey;
    transition: 0.5s;
}

#image_7 {
	position: absolute;
	height: 50vh;
	left: 32.5vw;
	top: 220vh;    	
    border-radius: 2.5vh;
    transition: 0.5s;
    box-shadow: 5px 5px 5px grey;
}

#image_7:hover{		
    box-shadow: 10px 10px 10px grey;
    transition: 0.5s;
}

#image_8 {
	position: absolute;
	height: 50vh;
	right: 32.5vw;
	top: 220vh;    	
    border-radius: 2.5vh;
    transition: 0.5s;
    box-shadow: 5px 5px 5px grey;
}

#image_8:hover{		
    box-shadow: 10px 10px 10px grey;
    transition: 0.5s;
}

#image_9 {
	position: absolute;
	height: 50vh;
	left: 32.5vw;
	top: 285vh;    	
    border-radius: 2.5vh;
    transition: 0.5s;
    box-shadow: 5px 5px 5px grey;
}

#image_9:hover{		
    box-shadow: 10px 10px 10px grey;
    transition: 0.5s;
}

#image_10 {
	position: absolute;
	height: 50vh;
	right: 32.5vw;
	top: 285vh;    	
    border-radius: 2.5vh;
    transition: 0.5s;
    box-shadow: 5px 5px 5px grey;
}

#image_10:hover{		
    box-shadow: 10px 10px 10px grey;
    transition: 0.5s;
}

#image_11 {
	position: absolute;
	height: 50vh;
	left: 32.5vw;
	top: 350vh;    	
    border-radius: 2.5vh;
    transition: 0.5s;
    box-shadow: 5px 5px 5px grey;
}

#image_11:hover{		
    box-shadow: 10px 10px 10px grey;
    transition: 0.5s;
}

#image_12 {
	position: absolute;
	height: 50vh;
	right: 32.5vw;
	top: 350vh;     	
    border-radius: 2.5vh;
    transition: 0.5s;
    box-shadow: 5px 5px 5px grey;
}

#image_12:hover{		
    box-shadow: 10px 10px 10px grey;
    transition: 0.5s;
}

#image_13 {
	position: absolute;
	height: 50vh;
	left: 32.5vw;
	top: 415vh;    	
    border-radius: 2.5vh;
    transition: 0.5s;
    box-shadow: 5px 5px 5px grey;
}

#image_13:hover{		
    box-shadow: 10px 10px 10px grey;
    transition: 0.5s;
}

#image_14 {
	position: absolute;
	height: 50vh;
	right: 32.5vw;
	top: 415vh;     	
    border-radius: 2.5vh;
    transition: 0.5s;
    box-shadow: 5px 5px 5px grey;
}

#image_14:hover{		
    box-shadow: 10px 10px 10px grey;
    transition: 0.5s;
}


#image_15 {
	position: absolute;
	height: 50vh;
	left: 32.5vw;
	top: 480vh;    	
    border-radius: 2.5vh;
    transition: 0.5s;
    box-shadow: 5px 5px 5px grey;
}

#image_15:hover{		
    box-shadow: 10px 10px 10px grey;
    transition: 0.5s;
}

#image_16 {
	position: absolute;
	height: 50vh;
	right: 32.5vw;
	top: 480vh;     	
    border-radius: 2.5vh;
    transition: 0.5s;
    box-shadow: 5px 5px 5px grey;
}

#image_16:hover{		
    box-shadow: 10px 10px 10px grey;
    transition: 0.5s;
}


#image_17 {
	position: absolute;
	height: 50vh;
	left: 32.5vw;
	top: 545vh;    	
    border-radius: 2.5vh;
    transition: 0.5s;
    box-shadow: 5px 5px 5px grey;
}

#image_17:hover{		
    box-shadow: 10px 10px 10px grey;
    transition: 0.5s;
}

#image_18 {
	position: absolute;
	height: 50vh;
	right: 32.5vw;
	top: 545vh;     	
    border-radius: 2.5vh;
    transition: 0.5s;
    box-shadow: 5px 5px 5px grey;
}

#image_18:hover{		
    box-shadow: 10px 10px 10px grey;
    transition: 0.5s;
}


#image_19 {
	position: absolute;
	height: 50vh;
	left: 32.5vw;
	top: 610vh;    	
    border-radius: 2.5vh;
    transition: 0.5s;
    box-shadow: 5px 5px 5px grey;
}

#image_19:hover{		
    box-shadow: 10px 10px 10px grey;
    transition: 0.5s;
}

#image_20 {
	position: absolute;
	height: 50vh;
	right: 32.5vw;
	top: 610vh;     	
    border-radius: 2.5vh;
    transition: 0.5s;
    box-shadow: 5px 5px 5px grey;
}

#image_20:hover{		
    box-shadow: 10px 10px 10px grey;
    transition: 0.5s;
}


#image_21 {
	position: absolute;
	height: 50vh;
	left: 32.5vw;
	top: 675vh;    	
    border-radius: 2.5vh;
    transition: 0.5s;
    box-shadow: 5px 5px 5px grey;
}

#image_21:hover{		
    box-shadow: 10px 10px 10px grey;
    transition: 0.5s;
}

#image_22 {
	position: absolute;
	height: 50vh;
	right: 32.5vw;
	top: 675vh;     	
    border-radius: 2.5vh;
    transition: 0.5s;
    box-shadow: 5px 5px 5px grey;
}

#image_22:hover{		
    box-shadow: 10px 10px 10px grey;
    transition: 0.5s;
}

#credit {
	position: absolute;
	width: 20vw;
	left: 40vw;
    right: auto;
	margin-top: 610vh;
	font-size: 2.5vh;
	color: black;
}

#creditglobal {
	position: absolute;
	width: 20vw;
	left: 40vw;
    right: auto;
	margin-top: 350vh;
	font-size: 2.5vh;
	color: black;
}

#creditobjets {
	position: absolute;
	width: 20vw;
	left: 40vw;
    right: auto;
	margin-top: 415vh;
	font-size: 2.5vh;
	color: black;
}

#creditjeux {
	position: absolute;
	width: 20vw;
	left: 40vw;
    right: auto;
	margin-top: 155vh;
	font-size: 2.5vh;
	color: black;
}


#arbre_gauche {
	position: fixed;
	height: 100vh;
	left: 8vh;
}

#arbre_droite {
	position: fixed;
	height: 100vh;
	right: 8vh;
}


#soleil_1 {
    left: 2.5vh;
	top: 2.5vh;
	position: fixed;
	height: 20vh;
}

#soleil_2 {
    left: 2.5vh;
	top: 2.5vh;
	position: fixed;
	height: 20vh;
    opacity: 0;
	transition: 1s;
}
#soleil_2:hover{
	opacity: 100;
	transition: 1s;
}

#global {
	left: 5vh;
	bottom: 17.5vh;
	position: fixed;
	overflow: visible;
	white-space: nowrap;
	cursor: pointer;
	text-align: left;
	font-style: normal;
	font-weight: normal;
	font-size: 4vh;
	color: black;
    font-family: "signika_bold";
}

#global:hover{
    text-shadow: 1px 1px 1px grey;
}

#objets {
	left: 5vh;
	bottom: 12.5vh;
	position: fixed;
	overflow: visible;
	white-space: nowrap;
	cursor: pointer;
	text-align: left;
	font-style: normal;
	font-weight: normal;
	font-size: 4vh;
	color: black;
    font-family: "signika_bold";
}

#objets:hover{
    text-shadow: 1px 1px 1px grey;
}

#jeux {
	left: 5vh;
	bottom: 7.5vh;
	position: fixed;
	overflow: visible;
	white-space: nowrap;
	cursor: pointer;
	text-align: left;
	font-style: normal;
	font-weight: normal;
	font-size: 4vh;
	color: black;
    font-family: "signika_bold";
}

#jeux:hover{
    text-shadow: 1px 1px 1px grey;
}

#apropos {
	right: 5vh;
	top: 7.5vh;
	position: fixed;
	overflow: visible;
	white-space: nowrap;
	cursor: pointer;
	text-align: left;
	font-style: normal;
	font-weight: normal;
	font-size: 4vh;
	color: black;
    font-family: "signika_bold";
}

#apropos:hover{
    text-shadow: 1px 1px 1px grey;
}

#en {
	right: 5vh;
	bottom: 7.5vh;
	position: fixed;
	overflow: visible;
	white-space: nowrap;
	cursor: pointer;
	text-align: left;
	font-style: normal;
	font-weight: normal;
	font-size: 4vh;
	color: black;  
    font-family: "signika_bold";
}

#en:hover{
    text-shadow: 1px 1px 1px grey;
}