*{  margin: 0;
  padding: 0;}
html, body {
  height: 100vh;

}

#lavelinge_1 {
	position: fixed;
	width: auto;
	max-height: 100vh;
	left: 0%;
	top: 0%;
	overflow: visible;
}

#droite {
	position: relative;
	display: flex;
	margin-left: 65vh;
	max-width: 70vw;
	

}

#lavelinge_2 {
	max-height: 80vh;
	top: 10vh;
	overflow: visible;
	position: absolute;
}

#texte1 
{
	top: 35vh;
	margin-left: 30vw;
    min-width:  20vw;
	max-width: 30vw;
	position: absolute;
	overflow: auto;
}
h1{
	font-size: 6vh;
	font-style: normal;
	font-weight: normal;
	color: rgba(47,47,47,1);
	text-align: left;
}

p{
	position: relative;
	overflow: visible;
	text-align: left;
	font-style: normal;
	font-weight: normal;
	color: rgba(47,47,47,1);
	top: 0;
	font-size: 2vmin;
	margin-right: 2vw
}

p1{
	position: relative;
	overflow: visible;
	text-align: left;
	font-style: normal;
	font-weight: normal;
	color: rgba(47,47,47,1);
	top: 0;
	font-size: 2.25vmin;
	margin-right: 2vw
}

#eclipse_rendu_2 {
	top: 100vh;
	margin-top: 10;
	max-height: 80vh;
	overflow: visible;
	position: absolute;
}

#eclipse_usage_1 {
	position: absolute;
	width: auto;
	max-height: 60vh;
    margin-left: 0%;
	top: 185vh;
	overflow: visible;
}

#eclipse_rendu_3 {
	position: absolute;
	width: auto;
	max-height: 60vh;
    margin-left: 0%;
	top: 250vh;
	overflow: visible;
	margin-bottom: 10vh
}

#texte2 {
	position: absolute;
	min-width:  20vw;
	max-width: 30vw;
    margin-left: 30vw;
	top: 275vh;
	overflow: visible;
	margin-bottom: 10vh;text-align: left;
	font-style: normal;
	font-weight: normal;
	color: rgba(47,47,47,1);
	font-size: 2.25vmin;
	
}

#ah {
	left: 5vh;
	top: 3vh;
	position: fixed;
	overflow: visible;
	white-space: nowrap;
	cursor: pointer;
	text-align: left;
	font-style: normal;
	font-weight: normal;
	font-size: 7vh;
	color: rgba(47,47,47,1);
}


#contact {
	right: 5vh;
	top: 3vh;
	position: fixed;
	overflow: visible;
	white-space: nowrap;
	cursor: pointer;
	text-align: left;
	font-style: normal;
	font-weight: normal;
	font-size: 7vh;
	color: rgba(47,47,47,1);
}

#en {
	right: 5vh;
	bottom: 3vh;
	position: fixed;
	overflow: visible;
	white-space: nowrap;
	cursor: pointer;
	text-align: left;
	font-style: normal;
	font-weight: normal;
	font-size: 7vh;
	color: rgba(47,47,47,1);
}

#fr {
	right: 5vh;
	bottom: 3vh;
	position: fixed;
	overflow: visible;
	white-space: nowrap;
	cursor: pointer;
	text-align: left;
	font-style: normal;
	font-weight: normal;
	font-size: 7vh;
	color: rgba(47,47,47,1);
}

#fr:hover{
	text-decoration: underline;
	transition: 0.6s ease;
}

#en:hover{
	text-decoration: underline;
	transition: 0.6s ease;
}

#ah:hover{
	text-decoration: underline;
	transition: 0.6s ease;
}

#contact:hover{
	text-decoration: underline;
	transition: 0.6s ease;
}