*{  margin: 0;
  padding: 0;}
html, body {
  width: auto;
}


@font-face {
    font-family: "signika_bold";
    src: url("typos/signika/Signika-Bold.ttf") format("truetype");
}


#image_1 {
    display: block;
    margin-left: 2.5vh;
	margin-right: auto;
    height: 70vh;
	margin-top: 2.5vh;    	
    border-radius: 2.5vh;
    box-shadow: 5px 5px 5px grey;
}

#texte_1 
{
	
	margin-top: 10vh;
    margin-left: 2.5vh;
	margin-right: auto;
	position: relative;
    width: 50vw;
	color: black;
}

h1{
	font-size: 6vh;
	font-style: normal;
	font-weight: normal;
	text-align: left;
    font-family: "signika_bold";
}

p{
	position: relative;
	overflow: visible;
	text-align: left;
	font-style: normal;
	font-weight: normal;
	top: 0;
	font-size: 2vh;
	margin-right: 5vh;
}

p1{
	position: relative;
	overflow: visible;
	text-align: left;
	font-style: normal;
	font-weight: normal;
	top: 0;
	font-size: 2.5vh;
	margin-right: 5vh;
}

#image_2 {
	position: relative;
	display: block;
	margin-left: 2.5vh;
	margin-right: auto;
    width: 70vw;
	height: auto;
	margin-top: 15vh;
}

#image_2_ombre {
	position: relative;
	display: block;
	margin-left: 2.5vh;
	margin-right: auto;
    width: 70vw;
	height: auto;
	margin-top: 15vh;
}

#image_3 {
	position: relative;
	margin-left: 2.5vh;
	margin-right: auto;
    width: 70vw;
	height: auto;
	margin-top: 15vh;
}

#image_3_ombre {
	position: relative;
	margin-left: 2.5vh;
	margin-right: auto;
    width: 70vw;
	height: auto;
	margin-top: 15vh;
}

#image_4 {
	position: relative;
	margin-left: 2.5vh;
	margin-right: auto;
    width: 70vw;
	height: auto;
	margin-top: 15vh;
}

#image_4_ombre {
	position: relative;
	margin-left: 2.5vh;
	margin-right: auto;
    width: 70vw;
	height: auto;
	margin-top: 15vh;
}

#texte_2 {
	margin-top: 10vh;
	margin-left: 2.5vh;
	margin-right: 5vh;
	position: relative;
	font-style: normal;
	font-weight: normal;
	color: black;
	font-size: 2.5vh;
    width: 50vw;
}

#image_5 {
	position: relative;
	margin-left: 2.5vh;
	margin-right: auto;
    width: 70vw;
	height: auto;
	margin-top: 15vh;
}

#image_5_ombre {
	position: relative;
	margin-left: 2.5vh;
	margin-right: auto;
    width: 70vw;
	height: auto;
	margin-top: 15vh;
}

#image_6 {
	position: relative;
	margin-left: 2.5vh;
	margin-right: auto;
    width: 70vw;
	height: auto;
	margin-top: 15vh;
}

#image_6_ombre {
	position: relative;
	margin-left: 2.5vh;
	margin-right: auto;
    width: 70vw;
	height: auto;
	margin-top: 15vh;
}

#credit {
	margin-left: 2.5vh;
	margin-top: 10vh;
	position: relative;
	overflow: visible;
	white-space: nowrap;
	cursor: pointer;
	text-align: left;
	font-style: normal;
	font-weight: normal;
	font-size: 2vh;
}

#soleil_1 {
	opacity: 0;
    height: 0px;
}

#soleil_2 {
	left: 2vh;
	top: 2vh;
    height: 15vh;
	position: fixed;
}


#arbre_droite {
	right: -25vh;
    top: 0;
	height: 100vh;
	position: fixed;
}

#apropos {
	right: 4vh;
	top: 4vh;
	position: fixed;
	overflow: visible;
	white-space: nowrap;
	cursor: pointer;
	text-align: left;
	font-style: normal;
	font-weight: normal;
	font-size: 4vh;
	color: black;
    font-family: "signika_bold";
    text-shadow: 2px 2px 2px white;
}

#en {
	right: 4vh;
	bottom: 4vh;
	position: fixed;
	overflow: visible;
	white-space: nowrap;
	cursor: pointer;
	text-align: left;
	font-style: normal;
	font-weight: normal;
	font-size: 4vh;
	color: black;
    font-family: "signika_bold";
    text-shadow: 2px 2px 2px white;
}