*{  margin: 0;
  padding: 0;}
html, body {
  height: 100vh;

}

#image_1 {
	position: fixed;
	width: auto;
	max-height: 100vh;
	left: 0%;
	top: 0%;
	overflow: visible;
}

#droite {
	position: relative;
	display: flex;
	margin-left: 65vh;
	max-width: 70vw;
	

}

#image_2 {
	max-height: 80vh;
	top: 10vh;
	overflow: visible;
	position: absolute;
}

#texte_1 
{
	top: 35vh;
	margin-left: 30vw;
    min-width:  20vw;
	max-width: 30vw;
	position: absolute;
	overflow: auto;
}
h1{
	font-size: 6vh;
	font-style: normal;
	font-weight: normal;
	color: rgba(47,47,47,1);
	text-align: left;
}

p{
	position: relative;
	overflow: visible;
	text-align: left;
	font-style: normal;
	font-weight: normal;
	color: rgba(47,47,47,1);
	top: 0;
	font-size: 2vmin;
	margin-right: 2vw
}

p1{
	position: relative;
	overflow: visible;
	text-align: left;
	font-style: normal;
	font-weight: normal;
	color: rgba(47,47,47,1);
	top: 0;
	font-size: 2.25vmin;
	margin-right: 2vw
}

#image_3_large {
	top: 100vh;
	margin-top: 10;
	max-height: 80vh;
	overflow: visible;
	position: absolute;
}

#image_3_1 {
	max-height: 80vh;
	top: 100vh;
	overflow: visible;
	position: absolute;
}

#image_3_2 {
	max-height: 80vh;
	top: 100vh;
    margin-left: 30vw;
	overflow: visible;
	position: absolute;
}


#image_4_large {
	position: absolute;
	width: auto;
	max-height: 80vh;
    margin-left: 0%;
	top: 185vh;
	overflow: visible;
}

#image_4_1 {
	max-height: 80vh;
	top: 185vh;
	overflow: visible;
	position: absolute;
}

#image_4_2 {
	max-height: 80vh;
	top: 185vh;
    margin-left: 30vw;
	overflow: visible;
	position: absolute;
}

#image_5_large {
	position: absolute;
	width: auto;
	max-height: 80vh;
    margin-left: 0%;
	top: 270vh;
	overflow: visible;
	margin-bottom: 10vh
}

#image_5_1 {
	max-height: 80vh;
	top: 270vh;
	overflow: visible;
	position: absolute;
}

#image_5_2 {
	max-height: 80vh;
	top: 270vh;
    margin-left: 30vw;
	overflow: visible;
	position: absolute;
}

#image_6_large {
	position: absolute;
	width: auto;
	max-height: 80vh;
    margin-left: 0%;
	top: 355vh;
	overflow: visible;
	margin-bottom: 10vh
}

#image_6_1 {
	max-height: 80vh;
	top: 355vh;
	overflow: visible;
	position: absolute;
}

#image_6_2 {
	max-height: 80vh;
	top: 355vh;
    margin-left: 30vw;
	overflow: visible;
	position: absolute;
}

#image_7_large {
	position: absolute;
	width: auto;
	max-height: 80vh;
    margin-left: 0%;
	top: 440vh;
	overflow: visible;
	margin-bottom: 10vh
}

#image_7_1 {
	max-height: 80vh;
	top: 440vh;
	overflow: visible;
	position: absolute;
}

#image_7_2 {
	max-height: 80vh;
	top: 440vh;
    margin-left: 30vw;
	overflow: visible;
	position: absolute;
}

#image_8_large {
	position: absolute;
	width: auto;
	max-height: 80vh;
    margin-left: 0%;
	top: 525vh;
	overflow: visible;
	margin-bottom: 10vh
}

#image_8_1 {
	max-height: 80vh;
	top: 525vh;
	overflow: visible;
	position: absolute;
}

#image_8_2 {
	max-height: 80vh;
	top: 525vh;
    margin-left: 30vw;
	overflow: visible;
	position: absolute;
}

#texte_2 {
	position: absolute;
	min-width:  20vw;
	max-width: 30vw;
    margin-left: 30vw;
	top: 275vh;
	overflow: visible;
	margin-bottom: 10vh;
	text-align: left;
	font-style: normal;
	font-weight: normal;
	color: rgba(47,47,47,1);
	font-size: 2vmin;
	
}

#ah_blanc {
	left: 5vh;
	top: 3vh;
	position: fixed;
	overflow: visible;
	white-space: nowrap;
	cursor: pointer;
	text-align: left;
	font-style: normal;
	font-weight: normal;
	font-size: 7vh;
	color: rgba(241,241,241,1);
}

#ah {
	left: 5vh;
	top: 3vh;
	position: fixed;
	overflow: visible;
	white-space: nowrap;
	cursor: pointer;
	text-align: left;
	font-style: normal;
	font-weight: normal;
	font-size: 7vh;
	color: rgba(47,47,47,1);
}


#contact {
	right: 5vh;
	top: 3vh;
	position: fixed;
	overflow: visible;
	white-space: nowrap;
	cursor: pointer;
	text-align: left;
	font-style: normal;
	font-weight: normal;
	font-size: 7vh;
	color: rgba(47,47,47,1);
}

#en {
	right: 5vh;
	bottom: 3vh;
	position: fixed;
	overflow: visible;
	white-space: nowrap;
	cursor: pointer;
	text-align: left;
	font-style: normal;
	font-weight: normal;
	font-size: 7vh;
	color: rgba(47,47,47,1);
}

#fr {
	right: 5vh;
	bottom: 3vh;
	position: fixed;
	overflow: visible;
	white-space: nowrap;
	cursor: pointer;
	text-align: left;
	font-style: normal;
	font-weight: normal;
	font-size: 7vh;
	color: rgba(47,47,47,1);
}

#fr:hover{
	text-decoration: underline;
	transition: 0.6s ease;
}

#en:hover{
	text-decoration: underline;
	transition: 0.6s ease;
}

#ah:hover{
	text-decoration: underline;
	transition: 0.6s ease;
}

#ah_blanc:hover{
	text-decoration: underline;
	transition: 0.6s ease;
}

#contact:hover{
	text-decoration: underline;
	transition: 0.6s ease;
}