*{  margin: 0;
  padding: 0;}
html, body {
  height: 100vh;
  }

@font-face {
    font-family: "signika_bold";
    src: url("typos/signika/Signika-Bold.ttf") format("truetype");
}

#arbre_gauche {
	opacity: 0;
    height: 0px;
}

#arbre_droite {
	position: fixed;
	height: 100vh;
	right: 8vh;
}

#soleil_1 {
    left: 2.5vh;
	top: 2.5vh;
	position: fixed;
	height: 20vh;
}

#soleil_2 {
    left: 2.5vh;
	top: 2.5vh;
	position: fixed;
	height: 20vh;
    opacity: 0;
	transition: 1s;
}
#soleil_2:hover{
	opacity: 100;
	transition: 1s;
}

#image_1 {
	position: fixed;
	width: auto;
	max-height: 100vh;
	left: 0%;
	top: 0%;
    box-shadow: 5px 0px 25px #3B3B3B;
}

#droite {
	position: relative;
	display: flex;
	margin-left: 65vh;
	max-width: 70vw;
	

}


#texte_1 
{
	top: 35vh;
    width: 37vw;
	position: absolute;
	overflow: auto;
	color: black;
}

h1{
	font-size: 6vh;
	font-style: normal;
	font-weight: normal;
	text-align: left;
    font-family: "signika_bold";
}

p{
	position: relative;
	overflow: visible;
	text-align: left;
	font-style: normal;
	font-weight: normal;
	top: 0;
	font-size: 2vmin;
	margin-right: 2vw
}

p1{
	position: relative;
	overflow: visible;
	text-align: left;
	font-style: normal;
	font-weight: normal;
	top: 0;
	font-size: 2.25vmin;
	margin-right: 2vw
}

#image_2 {
	top: 100vh;
    height: 30vw;
	position: absolute;
}

#image_2_ombre {
	top: 100vh;
    height: 30vw;
	position: absolute;
    box-shadow: 5px 5px 5px grey;
}


#image_3 {
	position: absolute;
    height: 30vw;
	top: 180vh;
}

#image_3_ombre {
	top: 180vh;
    height: 30vw;
	position: absolute;
    box-shadow: 5px 5px 5px grey;
}

#texte_2 {
	position: absolute;
	min-width:  20vw;
	max-width: 35vw;
	top: 260vh;
	overflow: visible;
	margin-bottom: 10vh;
	text-align: left;
	font-style: normal;
	font-weight: normal;
	color: black;
	font-size: 2.25vmin;	
}

#image_4 {
	position: absolute;
    height: 30vw;
	overflow: visible;
	top: 300vh;
}

#image_4_ombre {
	top: 300vh;
    height: 30vw;
	position: absolute;
    box-shadow: 5px 5px 5px grey;
}

#image_5 {
	position: absolute;
    height: 30vw;
	top: 380vh;
	overflow: visible;
}

#image_5_ombre {
	top: 380vh;
    height: 30vw;
	position: absolute;
    box-shadow: 5px 5px 5px grey;
}


#image_6 {
	position: absolute;
    height: 30vw;
	top: 460vh;
	overflow: visible;	
}

#image_6_ombre {
	top: 460vh;
    height: 30vw;
	position: absolute;
    box-shadow: 5px 5px 5px grey;
}


#apropos {
	right: 5vh;
	top: 7.5vh;
	position: fixed;
	overflow: visible;
	white-space: nowrap;
	cursor: pointer;
	text-align: left;
	font-style: normal;
	font-weight: normal;
	font-size: 4vh;
	color: black;
    font-family: "signika_bold";
}

#apropos:hover{
    text-shadow: 1px 1px 1px grey;
}

#credit2 {
	position: absolute;
	width: 20vw;
    right: auto;
	top: 180vh;
	font-size: 2.5vh;
	color: black;
}

#credit3 {
	position: absolute;
	width: 20vw;
    right: auto;
	top: 260vh;
	font-size: 2.5vh;
	color: black;
}

#credittxt {
	position: absolute;
	width: 20vw;
    right: auto;
	top: 300vh;
	font-size: 2.5vh;
	color: black;
}

#credit4 {
	position: absolute;
	width: 20vw;
    right: auto;
	top: 380vh;
	font-size: 2.5vh;
	color: black;
}

#credit5 {
	position: absolute;
	width: 20vw;
    right: auto;
	top: 460vh;
	font-size: 2.5vh;
	color: black;
}

#credit {
	position: absolute;
	width: 20vw;
    right: auto;
	top: 540vh;
	font-size: 2.5vh;
	color: black;
}

#en {
	right: 5vh;
	bottom: 7.5vh;
	position: fixed;
	overflow: visible;
	white-space: nowrap;
	cursor: pointer;
	text-align: left;
	font-style: normal;
	font-weight: normal;
	font-size: 4vh;
	color: black;
    font-family: "signika_bold";
}