*{  margin: 0;
  padding: 0;}
html, body {
  height: 100vh;
}

@font-face {
    font-family: "signika_bold";
    src: url("typos/signika/Signika-Bold.ttf") format("truetype");
}


#references {
	position: absolute;
	left: 35vw;
	top: 19vh;
    width: 35vw;
	overflow: auto;
	color: black;
}

h1{
	font-size: 3vh;
	font-style: normal;
	font-weight: normal;
	text-align: left;
    font-family: "signika_bold";
}


p1 {
	text-align: left;
	font-style: normal;
	font-weight: normal;
	font-size: 2vmin;
}

h2{
	font-size: 2vh;
	font-style: normal;
	font-weight: normal;
	text-align: left;
    font-family: "signika_bold";
}

#cinema {
	position: absolute;
	left: 35vw;
	top: 42.5vh;
	font-size: 3vh;
	color: black;
    font-family: "signika_bold";
}

#image_1 {
	position: absolute;
	height: 40vh;
	left: 35vw;
	top: 50vh;
    box-shadow: 5px 5px 5px grey;
}

#image_1:hover{		
    box-shadow: 10px 10px 10px grey;
    transition: 0.5s;
}

#titre1 {
	position: absolute;
	left: 35vw;
	top: 95vh;
    width: 32.5vw;
	overflow: auto;
	color: black;
}

#image_2 {
	position: absolute;
	height: 40vh;
	left: 51.75vw;
	top: 50vh;
    box-shadow: 5px 5px 5px grey;
}

#image_2:hover{		
    box-shadow: 10px 10px 10px grey;
    transition: 0.5s;
}

#titre2 {
	position: absolute;
	left: 51.75vw;
	top: 95vh;
    width: 17.5vw;
	overflow: auto;
	color: black;
}

#image_3 {
	position: absolute;
	height: 40vh;
	left: 35vw;
	top: 110vh;
    transition: 0.5s;
    box-shadow: 5px 5px 5px grey;
}

#image_3:hover{		
    box-shadow: 10px 10px 10px grey;
    transition: 0.5s;
}

#titre3 {
	position: absolute;
	left: 35vw;
	top: 155vh;
    width: 17.5vw;
	overflow: auto;
	color: black;
}

#image_4 {
	position: absolute;
	height: 40vh;
	left: 51.75vw;
	top: 110vh;
    transition: 0.5s;
    box-shadow: 5px 5px 5px grey;
}

#image_4:hover{		
    box-shadow: 10px 10px 10px grey;
    transition: 0.5s;
}

#titre4 {
	position: absolute;
	left: 51.75vw;
	top: 155vh;
    width: 17.5vw;
	overflow: auto;
	color: black;
}

#image_5 {
	position: absolute;
	height: 40vh;
	left: 35vw;
	top: 170vh;
    transition: 0.5s;
    box-shadow: 5px 5px 5px grey;
}

#image_5:hover{		
    box-shadow: 10px 10px 10px grey;
    transition: 0.5s;
}

#titre5 {
	position: absolute;
	left: 35vw;
	top: 215vh;
    width: 17.5vw;
	overflow: auto;
	color: black;
}

#image_6 {
	position: absolute;
	height: 40vh;
	left: 51.75vw;
	top: 170vh;
    transition: 0.5s;
    box-shadow: 5px 5px 5px grey;
}

#image_6:hover{		
    box-shadow: 10px 10px 10px grey;
    transition: 0.5s;
}

#titre6 {
	position: absolute;
	left: 52.5vw;
	top: 215vh;
    width: 17.5vw;
	overflow: auto;
	color: black;
}

#image_7 {
	position: absolute;
	height: 40vh;
	left: 35vw;
	top: 230vh;
    transition: 0.5s;
    box-shadow: 5px 5px 5px grey;
}

#image_7:hover{		
    box-shadow: 10px 10px 10px grey;
    transition: 0.5s;
}

#titre7 {
	position: absolute;
	left: 35vw;
	top: 275vh;
    width: 17.5vw;
	overflow: auto;
	color: black;
}

#image_8 {
	position: absolute;
	height: 40vh;
	left: 51.75vw;
	top: 230vh;
    transition: 0.5s;
    box-shadow: 5px 5px 5px grey;
}

#image_8:hover{		
    box-shadow: 10px 10px 10px grey;
    transition: 0.5s;
}

#titre8 {
	position: absolute;
	left: 52.5vw;
	top: 275vh;
    width: 17.5vw;
	overflow: auto;
	color: black;
}

#musique {
	position: absolute;
	left: 35vw;
	top: 292.5vh;
	font-size: 3.5vh;
	color: black;
    font-family: "signika_bold";
}

#image_9 {
	position: absolute;
	height: 40vh;
	left: 35vw;
	top: 300vh;
    transition: 0.5s;
    box-shadow: 5px 5px 5px grey;
}

#image_9:hover{		
    box-shadow: 10px 10px 10px grey;
    transition: 0.5s;
}

#titre9 {
	position: absolute;
	left: 35vw;
	top: 345vh;
    width: 17.5vw;
	overflow: auto;
	color: black;
}

#image_10 {
	position: absolute;
	height: 40vh;
	left: 51.75vw;
	top: 300vh;
    transition: 0.5s;
    box-shadow: 5px 5px 5px grey;
}

#image_10:hover{		
    box-shadow: 10px 10px 10px grey;
    transition: 0.5s;
}

#titre10 {
	position: absolute;
	left: 52.5vw;
	top: 345vh;
    width: 17.5vw;
	overflow: auto;
	color: black;
}

#image_11 {
	position: absolute;
	height: 40vh;
	left: 35vw;
	top: 360vh;
    transition: 0.5s;
    box-shadow: 5px 5px 5px grey;
}

#image_11:hover{		
    box-shadow: 10px 10px 10px grey;
    transition: 0.5s;
}

#titre11 {
	position: absolute;
	left: 35vw;
	top: 405vh;
    width: 17.5vw;
	overflow: auto;
	color: black;
}

#image_12 {
	position: absolute;
	height: 40vh;
	left: 51.75vw;
	top: 360vh;
    transition: 0.5s;
    box-shadow: 5px 5px 5px grey;
}

#image_12:hover{		
    box-shadow: 10px 10px 10px grey;
    transition: 0.5s;
}

#titre12 {
	position: absolute;
	left: 52.5vw;
	top: 405vh;
    width: 17.5vw;
	overflow: auto;
	color: black;
}

#image_13 {
	position: absolute;
	height: 40vh;
	left: 35vw;
	top: 420vh;
    transition: 0.5s;
    box-shadow: 5px 5px 5px grey;
}

#image_13:hover{		
    box-shadow: 10px 10px 10px grey;
    transition: 0.5s;
}

#titre13 {
	position: absolute;
	left: 35vw;
	top: 465vh;
    width: 17.5vw;
	overflow: auto;
	color: black;
}

#image_14 {
	position: absolute;
	height: 40vh;
	left: 51.75vw;
	top: 420vh;
    transition: 0.5s;
    box-shadow: 5px 5px 5px grey;
}

#image_14:hover{		
    box-shadow: 10px 10px 10px grey;
    transition: 0.5s;
}

#titre14 {
	position: absolute;
	left: 52.5vw;
	top: 465vh;
    width: 17.5vw;
	overflow: auto;
	color: black;
}

#image_15 {
	position: absolute;
	height: 40vh;
	left: 35vw;
	top: 480vh;
    transition: 0.5s;
    box-shadow: 5px 5px 5px grey;
}

#image_15:hover{		
    box-shadow: 10px 10px 10px grey;
    transition: 0.5s;
}

#titre15 {
	position: absolute;
	left: 35vw;
	top: 525vh;
    width: 17.5vw;
	overflow: auto;
	color: black;
}

#image_16 {
	position: absolute;
	height: 40vh;
	left: 51.75vw;
	top: 480vh;
    transition: 0.5s;
    box-shadow: 5px 5px 5px grey;
}

#image_16:hover{		
    box-shadow: 10px 10px 10px grey;
    transition: 0.5s;
}

#titre16 {
	position: absolute;
	left: 52.5vw;
	top: 525vh;
    width: 17.5vw;
	overflow: auto;
	color: black;
}

#image_17 {
	position: absolute;
	height: 40vh;
	left: 35vw;
	top: 540vh;
    transition: 0.5s;
    box-shadow: 5px 5px 5px grey;
}

#image_17:hover{		
    box-shadow: 10px 10px 10px grey;
    transition: 0.5s;
}

#titre17 {
	position: absolute;
	left: 35vw;
	top: 585vh;
    width: 17.5vw;
	overflow: auto;
	color: black;
}

#image_18 {
	position: absolute;
	height: 40vh;
	left: 51.75vw;
	top: 540vh;
    transition: 0.5s;
    box-shadow: 5px 5px 5px grey;
}

#image_18:hover{		
    box-shadow: 10px 10px 10px grey;
    transition: 0.5s;
}

#titre18 {
	position: absolute;
	left: 52.5vw;
	top: 585vh;
    width: 17.5vw;
	overflow: auto;
	color: black;
}

#image_19 {
	position: absolute;
	height: 40vh;
	left: 35vw;
	top: 600vh;
    transition: 0.5s;
    box-shadow: 5px 5px 5px grey;
}

#image_19:hover{		
    box-shadow: 10px 10px 10px grey;
    transition: 0.5s;
}

#titre19 {
	position: absolute;
	left: 35vw;
	top: 645vh;
    width: 17.5vw;
	overflow: auto;
	color: black;
}

#image_20 {
	position: absolute;
	height: 40vh;
	left: 51.75vw;
	top: 600vh;
    transition: 0.5s;
    box-shadow: 5px 5px 5px grey;
}

#image_20:hover{		
    box-shadow: 10px 10px 10px grey;
    transition: 0.5s;
}

#titre20 {
	position: absolute;
	left: 52.5vw;
	top: 645vh;
    width: 17.5vw;
	overflow: auto;
	color: black;
}

#image_21 {
	position: absolute;
	height: 40vh;
	left: 35vw;
	top: 660vh;
    transition: 0.5s;
    box-shadow: 5px 5px 5px grey;
}

#image_21:hover{		
    box-shadow: 10px 10px 10px grey;
    transition: 0.5s;
}

#titre21 {
	position: absolute;
	left: 35vw;
	top: 705vh;
    width: 17.5vw;
	overflow: auto;
	color: black;
}

#livre {
	position: absolute;
	left: 35vw;
	top: 722.5vh;
	font-size: 3.5vh;
	color: black;
    font-family: "signika_bold";
}

#image_23 {
	position: absolute;
	height: 40vh;
	left: 35vw;
	top: 730vh;
    transition: 0.5s;
    box-shadow: 5px 5px 5px grey;
}

#image_23:hover{		
    box-shadow: 10px 10px 10px grey;
    transition: 0.5s;
}

#titre23 {
	position: absolute;
	left: 35vw;
	top: 775vh;
    width: 17.5vw;
	overflow: auto;
	color: black;
}

#image_24 {
	position: absolute;
	height: 40vh;
	left: 51.75vw;
	top: 730vh;
    transition: 0.5s;
    box-shadow: 5px 5px 5px grey;
}

#image_24:hover{		
    box-shadow: 10px 10px 10px grey;
    transition: 0.5s;
}

#titre24 {
	position: absolute;
	left: 52.5vw;
	top: 775vh;
    width: 17.5vw;
	overflow: auto;
	color: black;
}

#image_25 {
	position: absolute;
	height: 40vh;
	left: 35vw;
	top: 790vh;
    transition: 0.5s;
    box-shadow: 5px 5px 5px grey;
}

#image_25:hover{		
    box-shadow: 10px 10px 10px grey;
    transition: 0.5s;
}

#titre25 {
	position: absolute;
	left: 35vw;
	top: 835vh;
    width: 17.5vw;
	overflow: auto;
	color: black;
}

#image_26 {
	position: absolute;
	height: 40vh;
	left: 51.75vw;
	top: 790vh;
    transition: 0.5s;
    box-shadow: 5px 5px 5px grey;
}

#image_26:hover{		
    box-shadow: 10px 10px 10px grey;
    transition: 0.5s;
}

#titre26 {
	position: absolute;
	left: 52.5vw;
	top: 835vh;
    width: 17.5vw;
	overflow: auto;
	color: black;
}

#image_27 {
	position: absolute;
	height: 40vh;
	left: 35vw;
	top: 850vh;
    transition: 0.5s;
    box-shadow: 5px 5px 5px grey;
}

#image_27:hover{		
    box-shadow: 10px 10px 10px grey;
    transition: 0.5s;
}

#titre27 {
	position: absolute;
	left: 35vw;
	top: 895vh;
    width: 17.5vw;
	overflow: auto;
	color: black;
}

#peinture {
	position: absolute;
	left: 35vw;
	top: 912.5vh;
	font-size: 3.5vh;
	color: black;
    font-family: "signika_bold";
}

#image_29 {
	position: absolute;
	height: 40vh;
	left: 35vw;
	top: 920vh;
    transition: 0.5s;
    box-shadow: 5px 5px 5px grey;
}

#image_29:hover{		
    box-shadow: 10px 10px 10px grey;
    transition: 0.5s;
}

#titre29 {
	position: absolute;
	left: 35vw;
	top: 965vh;
    width: 17.5vw;
	overflow: auto;
	color: black;
}

#image_30 {
	position: absolute;
	height: 40vh;
	left: 51.75vw;
	top: 920vh;
    transition: 0.5s;
    box-shadow: 5px 5px 5px grey;
}

#image_30:hover{		
    box-shadow: 10px 10px 10px grey;
    transition: 0.5s;
}

#titre30 {
	position: absolute;
	left: 51.75vw;
	top: 965vh;
    width: 17.5vw;
	overflow: auto;
	color: black;
}

#image_31 {
	position: absolute;
	height: 40vh;
	left: 35vw;
	top: 980vh;
    transition: 0.5s;
    box-shadow: 5px 5px 5px grey;
}

#image_31:hover{		
    box-shadow: 10px 10px 10px grey;
    transition: 0.5s;
}

#titre31 {
	position: absolute;
	left: 35vw;
	top: 1025vh;
    width: 17.5vw;
	overflow: auto;
	color: black;
}

#image_32 {
	position: absolute;
	height: 40vh;
	left: 51.75vw;
	top: 980vh;
    transition: 0.5s;
    box-shadow: 5px 5px 5px grey;
}

#image_32:hover{		
    box-shadow: 10px 10px 10px grey;
    transition: 0.5s;
}

#titre32 {
	position: absolute;
	left: 51.75vw;
	top: 1025vh;
    width: 17.5vw;
	overflow: auto;
	color: black;
}

#image_33 {
	position: absolute;
	height: 40vh;
	left: 35vw;
	top: 1040vh;
    transition: 0.5s;
    box-shadow: 5px 5px 5px grey;
}

#image_33:hover{		
    box-shadow: 10px 10px 10px grey;
    transition: 0.5s;
}

#titre33 {
	position: absolute;
	left: 35vw;
	top: 1085vh;
    width: 17.5vw;
	overflow: auto;
	color: black;
}

#image_34 {
	position: absolute;
	height: 40vh;
	left: 51.75vw;
	top: 1040vh;
    transition: 0.5s;
    box-shadow: 5px 5px 5px grey;
}

#image_34:hover{		
    box-shadow: 10px 10px 10px grey;
    transition: 0.5s;
}

#titre34 {
	position: absolute;
	left: 51.75vw;
	top: 1085vh;
    width: 17.5vw;
	overflow: auto;
	color: black;
}

#image_35 {
	position: absolute;
	height: 40vh;
	left: 35vw;
	top: 1100vh;
    transition: 0.5s;
    box-shadow: 5px 5px 5px grey;
}

#image_35:hover{		
    box-shadow: 10px 10px 10px grey;
    transition: 0.5s;
}

#titre35 {
	position: absolute;
	left: 35vw;
	top: 1145vh;
    width: 17.5vw;
	overflow: auto;
	color: black;
}

#image_36 {
	position: absolute;
	height: 40vh;
	left: 51.75vw;
	top: 1100vh;
    transition: 0.5s;
    box-shadow: 5px 5px 5px grey;
}

#image_36:hover{		
    box-shadow: 10px 10px 10px grey;
    transition: 0.5s;
}

#titre36 {
	position: absolute;
	left: 51.75vw;
	top: 1145vh;
    width: 17.5vw;
	overflow: auto;
	color: black;
}

#jeu {
	position: absolute;
	left: 35vw;
	top: 1162.5vh;
	font-size: 3.5vh;
	color: black;
    font-family: "signika_bold";
}

#image_37 {
	position: absolute;
	height: 40vh;
	left: 35vw;
	top: 1170vh;
    transition: 0.5s;
    box-shadow: 5px 5px 5px grey;
}

#image_37:hover{		
    box-shadow: 10px 10px 10px grey;
    transition: 0.5s;
}

#titre37 {
	position: absolute;
	left: 35vw;
	top: 1215vh;
    width: 17.5vw;
	overflow: auto;
	color: black;
}

#image_38 {
	position: absolute;
	height: 40vh;
	left: 51.75vw;
	top: 1170vh;
    transition: 0.5s;
    box-shadow: 5px 5px 5px grey;
}

#image_38:hover{		
    box-shadow: 10px 10px 10px grey;
    transition: 0.5s;
}

#titre38 {
	position: absolute;
	left: 51.75vw;
	top: 1215vh;
    width: 17.5vw;
	overflow: auto;
	color: black;
}

#image_39 {
	position: absolute;
	height: 40vh;
	left: 35vw;
	top: 1230vh;
    transition: 0.5s;
    box-shadow: 5px 5px 5px grey;
}

#image_39:hover{		
    box-shadow: 10px 10px 10px grey;
    transition: 0.5s;
}

#titre39 {
	position: absolute;
	left: 35vw;
	top: 1275vh;
    width: 17.5vw;
	overflow: auto;
	color: black;
}

#image_40 {
	position: absolute;
	height: 40vh;
	left: 51.75vw;
	top: 1230vh;
    transition: 0.5s;
    box-shadow: 5px 5px 5px grey;
}

#image_40:hover{		
    box-shadow: 10px 10px 10px grey;
    transition: 0.5s;
}

#titre40 {
	position: absolute;
	left: 51.75vw;
	top: 1275vh;
    width: 17.5vw;
	overflow: auto;
	color: black;
}

#credit {
	position: absolute;
	width: 20vw;
	left: 40vw;
    right: auto;
	top: 1300vh;
	font-size: 2vh;
	color: black;
}

#credit_cinema {
	position: absolute;
	width: 20vw;
	left: 40vw;
    right: auto;
	top: 300vh;
	font-size: 2vh;
	color: black;
}

#credit_musique {
	position: absolute;
	width: 20vw;
	left: 40vw;
    right: auto;
	top: 485vh;
	font-size: 2vh;
	color: black;
}

#credit_livre {
	position: absolute;
	width: 20vw;
	left: 40vw;
    right: auto;
	top: 235vh;
	font-size: 2vh;
	color: black;
}

#credit_peinture {
	position: absolute;
	width: 20vw;
	left: 40vw;
    right: auto;
	top: 295vh;
	font-size: 2vh;
	color: black;
}

#credit_jeu {
	position: absolute;
	width: 20vw;
	left: 40vw;
    right: auto;
	top: 175vh;
	font-size: 2vh;
	color: black;
}

#arbre_gauche {
	position: fixed;
	height: 100vh;
	left: 3vh;
}

#arbre_droite {
	position: fixed;
	height: 100vh;
	right: 3vh;
}

p { 
    font-size: 5vh;	
}


#soleil_1 {
    left: 2.5vh;
	top: 2.5vh;
	position: fixed;
	height: 20vh;
}

#soleil_2 {
    left: 2.5vh;
	top: 2.5vh;
	position: fixed;
	height: 20vh;
    opacity: 0;
	transition: 1s;
}
#soleil_2:hover{
	opacity: 100;
	transition: 1s;
}

#index_references {
	left: 5vh;
	bottom: 32.5vh;
	position: fixed;
	overflow: visible;
	white-space: nowrap;
	cursor: pointer;
	text-align: left;
	font-style: normal;
	font-weight: normal;
	font-size: 3.5vh;
	color: black;
    font-family: "signika_bold";
}

#index_references:hover{
    text-shadow: 1px 1px 1px grey;
}

#index_cinema {
	left: 5vh;
	bottom: 25vh;
	position: fixed;
	overflow: visible;
	white-space: nowrap;
	cursor: pointer;
	text-align: left;
	font-style: normal;
	font-weight: normal;
	font-size: 3.5vh;
	color: black;
    font-family: "signika_bold";
}

#index_cinema:hover{
    text-shadow: 1px 1px 1px grey;
}

#index_musique {
	left: 5vh;
	bottom: 20vh;
	position: fixed;
	overflow: visible;
	white-space: nowrap;
	cursor: pointer;
	text-align: left;
	font-style: normal;
	font-weight: normal;
	font-size: 3.5vh;
	color: black;
    font-family: "signika_bold";
}

#index_musique:hover{
    text-shadow: 1px 1px 1px grey;
}

#index_livre {
	left: 5vh;
	bottom: 15vh;
	position: fixed;
	overflow: visible;
	white-space: nowrap;
	cursor: pointer;
	text-align: left;
	font-style: normal;
	font-weight: normal;
	font-size: 3.5vh;
	color: black;
    font-family: "signika_bold";
}

#index_livre:hover{
    text-shadow: 1px 1px 1px grey;
}

#index_peinture {
	left: 5vh;
	bottom: 10vh;
	position: fixed;
	overflow: visible;
	white-space: nowrap;
	cursor: pointer;
	text-align: left;
	font-style: normal;
	font-weight: normal;
	font-size: 3.5vh;
	color: black;
    font-family: "signika_bold";
}

#index_peinture:hover{
    text-shadow: 1px 1px 1px grey;
}

#index_jeu {
	left: 5vh;
	bottom: 5vh;
	position: fixed;
	overflow: visible;
	white-space: nowrap;
	cursor: pointer;
	text-align: left;
	font-style: normal;
	font-weight: normal;
	font-size: 3.5vh;
	color: black;
    font-family: "signika_bold";
}

#index_jeu:hover{
    text-shadow: 1px 1px 1px grey;
}

#apropos {
	right: 5vh;
	top: 7.5vh;
	position: fixed;
	overflow: visible;
	white-space: nowrap;
	cursor: pointer;
	text-align: left;
	font-style: normal;
	font-weight: normal;
	font-size: 3.5vh;
	color: black;
    font-family: "signika_bold";
}

#apropos:hover{
    text-shadow: 1px 1px 1px grey;
}

#en {
	right: 5vh;
	bottom: 7.5vh;
	position: fixed;
	overflow: visible;
	white-space: nowrap;
	cursor: pointer;
	text-align: left;
	font-style: normal;
	font-weight: normal;
	font-size: 4vh;
	color: black;  
    font-family: "signika_bold";
}

#en:hover{
    text-shadow: 1px 1px 1px grey;
}