*{  margin: 0;
  padding: 0;}
html, body {
  height: 100vh;
  background-image: url(images/P1060057.JPG);
    background-repeat : no-repeat;
    background-size : cover;
}

@font-face {
    font-family: "bluu_nexttitling";
    src: url("fonts/BluuNext-Titling.ttf") format("truetype"),
        url("fonts/bluunext-titling.woff2") format("woff2"),
        url("fonts/bluunext-titling.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "neutra_text";
    src: url("fonts/neutra_text/NeutraText-Book.otf") format("opentype"),
        url("fonts/bluunext-titling.woff2") format("woff2"),
        url("fonts/bluunext-titling.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}



.item {
    
    font-family: "neutra_text";
  position: absolute;
  width: 40vh;
  height: 70vh;
  top: 10vh;
  left: 10vh;
  padding: 20px;
  border: 8px solid rgba(200,200,200,1);
  background: #999;
  padding-left: 10vh;
  padding-right: 10vh;
  padding-top: 5vh;
  font-size: 2.5vh;
 
    
}

p {
    font-family: "bluu_nexttitling";
    font-size: 3.5vh;
    
}


hr { background-color: black; height: 1px; border: 0; margin-top: 15px;}



a:link {
    color: black; 
    text-decoration: none;
}

a:visited {
    color: black; 
    text-decoration: none;

}

a:hover {
    font-weight: bold;
    
}

#credits {
	left: 80vh;
	top: 590vh;
    width: 30vh;
	position: absolute;
	overflow: visible;
	white-space: nowrap;
	cursor: pointer;
	text-align: left;
	font-style: normal;
	font-weight: normal;
	font-size: 3vh;
	color: rgba(47,47,47,1);
}



#accueil {
	left: 5vh;
	top: 3vh;
	position: fixed;
	overflow: visible;
	white-space: nowrap;
	cursor: pointer;
	text-align: left;
	font-style: normal;
	font-weight: normal;
	font-size: 3vh;
	color: rgba(47,47,47,1);
}


#tout {
	right: 95vh;
	top: 3vh;
	position: fixed;
	overflow: visible;
	white-space: nowrap;
	cursor: pointer;
	text-align: left;
	font-style: normal;
	font-weight: normal;
	font-size: 3vh;
	color: rgba(47,47,47,1);
    text-decoration: underline;
}

#M1 {
	right: 85vh;
	top: 3vh;
	position: fixed;
	overflow: visible;
	white-space: nowrap;
	cursor: pointer;
	text-align: left;
	font-style: normal;
	font-weight: normal;
	font-size: 3vh;
	color: rgba(47,47,47,1);
}

#M2 {
	right: 75vh;
	top: 3vh;
	position: fixed;
	overflow: visible;
	white-space: nowrap;
	cursor: pointer;
	text-align: left;
	font-style: normal;
	font-weight: normal;
	font-size: 3vh;
	color: rgba(47,47,47,1);
}

#espace {
	right: 50vh;
	top: 3vh;
	position: fixed;
	overflow: visible;
	white-space: nowrap;
	cursor: pointer;
	text-align: left;
	font-style: normal;
	font-weight: normal;
	font-size: 3vh;
	color: rgba(47,47,47,1);
}

#graphique {
	right: 25vh;
	top: 3vh;
	position: fixed;
	overflow: visible;
	white-space: nowrap;
	cursor: pointer;
	text-align: left;
	font-style: normal;
	font-weight: normal;
	font-size: 3vh;
	color: rgba(47,47,47,1);
}

#produit {
	right: 5vh;
	top: 3vh;
	position: fixed;
	overflow: visible;
	white-space: nowrap;
	cursor: pointer;
	text-align: left;
	font-style: normal;
	font-weight: normal;
	font-size: 3vh;
	color: rgba(47,47,47,1);
}

#en {
	right: 5vh;
	bottom: 3vh;
	position: fixed;
	overflow: visible;
	white-space: nowrap;
	cursor: pointer;
	text-align: left;
	font-style: normal;
	font-weight: normal;
	font-size: 7vh;
	color: rgba(47,47,47,1);
}

#fr {
	right: 5vh;
	bottom: 3vh;
	position: fixed;
	overflow: visible;
	white-space: nowrap;
	cursor: pointer;
	text-align: left;
	font-style: normal;
	font-weight: normal;
	font-size: 7vh;
	color: rgba(47,47,47,1);
}

#autre {
	left: 5vh;
	bottom: 3vh;
	position: fixed;
	overflow: visible;
	white-space: nowrap;
	cursor: pointer;
	text-align: left;
	font-style: normal;
	font-weight: normal;
	font-size: 7vh;
	color: rgba(47,47,47,1);
}


#fr:hover{
	text-decoration: underline;
	transition: 0.6s ease;
}

#en:hover{
	text-decoration: underline;
	transition: 0.6s ease;
}

#ah:hover{
	text-decoration: underline;
	transition: 0.6s ease;
}

#contact:hover{
	text-decoration: underline;
	transition: 0.6s ease;
}

#autre:hover{
	text-decoration: underline;
	transition: 0.6s ease;
}