*{  margin: 0;
  padding: 0;}
html, body {
  height: 100vh;
}

#image_1 {
	position: absolute;
	height: 30vh;
	left: 22.5vh;
	top: 25vh;
}

#barre_1 {
	border-left:2px solid #000;
    height:65vh;
    top: 25vh;
    position: absolute; 
    left: 17.5vh;
}

#texte1 {
	left: 22.5vh;
	top: 60vh;
    width: 30vh;
	position: absolute;
	overflow: visible;
	white-space: nowrap;
	cursor: pointer;
	text-align: left;
	font-style: normal;
	font-weight: normal;
	font-size: 3vh;
	color: rgba(47,47,47,1);
}


hr { background-color: black; height: 1px; border: 0; margin-top: 15px;}

#barre_2 {
	border-left:2px solid #000;
    height:65vh;
    top: 25vh;
    position: absolute; 
    left: 57.5vh;
}

#image_2 {
	position: absolute;
	height: 30vh;
	left: 62.5vh;
	top: 25vh;
}

#texte2 {
	left: 62.5vh;
	top: 60vh;
    width: 30vh;
	position: absolute;
	overflow: visible;
	white-space: nowrap;
	cursor: pointer;
	text-align: left;
	font-style: normal;
	font-weight: normal;
	font-size: 3vh;
	color: rgba(47,47,47,1);
}

#image_3 {
	position: absolute;
	height: 30vh;
	left: 102.5vh;
	top: 25vh;
}

#barre_3 {
	border-left:2px solid #000;
    height:65vh;
    top: 25vh;
    position: absolute; 
    left: 97.5vh;
}

#texte3 {
	left:102.5vh;
	top: 60vh;
    width: 30vh;
	position: absolute;
	overflow: visible;
	white-space: nowrap;
	cursor: pointer;
	text-align: left;
	font-style: normal;
	font-weight: normal;
	font-size: 3vh;
	color: rgba(47,47,47,1);
}

#image_4 {
	position: absolute;
	height: 30vh;
	left: 142.5vh;
	top: 25vh;
}

#texte4 {
	left: 142.5vh;
	top: 60vh;
    width: 30vh;
	position: absolute;
	overflow: visible;
	white-space: nowrap;
	cursor: pointer;
	text-align: left;
	font-style: normal;
	font-weight: normal;
	font-size: 3vh;
	color: rgba(47,47,47,1);
}

#image_5 {
	position: absolute;
	height: 30vh;
	left: 22.5vh;
	top: 105vh;
}



#texte5 {
	left: 22.5vh;
	top: 140vh;
    width: 30vh;
	position: absolute;
	overflow: visible;
	white-space: nowrap;
	cursor: pointer;
	text-align: left;
	font-style: normal;
	font-weight: normal;
	font-size: 3vh;
	color: rgba(47,47,47,1);
}


#image_6 {
	position: absolute;
	height: 30vh;
	left: 62.5vh;
	top: 105vh;
}

#texte6 {
	left: 62.5vh;
	top: 140vh;
    width: 30vh;
	position: absolute;
	overflow: visible;
	white-space: nowrap;
	cursor: pointer;
	text-align: left;
	font-style: normal;
	font-weight: normal;
	font-size: 3vh;
	color: rgba(47,47,47,1);
}

#image_7 {
	position: absolute;
	height: 30vh;
	left: 102.5vh;
	top: 105vh;
}

#texte7 {
	left:102.5vh;
	top: 140vh;
    width: 30vh;
	position: absolute;
	overflow: visible;
	white-space: nowrap;
	cursor: pointer;
	text-align: left;
	font-style: normal;
	font-weight: normal;
	font-size: 3vh;
	color: rgba(47,47,47,1);
}

#image_8 {
	position: absolute;
	height: 30vh;
	left: 142.5vh;
	top: 105vh;
}

#texte8 {
	left: 142.5vh;
	top: 140vh;
    width: 30vh;
	position: absolute;
	overflow: visible;
	white-space: nowrap;
	cursor: pointer;
	text-align: left;
	font-style: normal;
	font-weight: normal;
	font-size: 3vh;
	color: rgba(47,47,47,1);
}

#image_9 {
	position: absolute;
	height: 30vh;
	left: 22.5vh;
	top: 185vh;
}


#texte9 {
	left: 22.5vh;
	top: 220vh;
    width: 30vh;
	position: absolute;
	overflow: visible;
	white-space: nowrap;
	cursor: pointer;
	text-align: left;
	font-style: normal;
	font-weight: normal;
	font-size: 3vh;
	color: rgba(47,47,47,1);
}

#image_10 {
	position: absolute;
	height: 30vh;
	left: 62.5vh;
	top: 185vh;
}

#texte10 {
	left: 62.5vh;
	top: 220vh;
    width: 30vh;
	position: absolute;
	overflow: visible;
	white-space: nowrap;
	cursor: pointer;
	text-align: left;
	font-style: normal;
	font-weight: normal;
	font-size: 3vh;
	color: rgba(47,47,47,1);
}

#image_11 {
	position: absolute;
	height: 30vh;
	left: 102.5vh;
	top: 185vh;
}

#texte11 {
	left:102.5vh;
	top: 220vh;
    width: 30vh;
	position: absolute;
	overflow: visible;
	white-space: nowrap;
	cursor: pointer;
	text-align: left;
	font-style: normal;
	font-weight: normal;
	font-size: 3vh;
	color: rgba(47,47,47,1);
}

#image_12 {
	position: absolute;
	height: 30vh;
	left: 142.5vh;
	top: 185vh;
}

#texte12 {
	left: 142.5vh;
	top: 220vh;
    width: 30vh;
	position: absolute;
	overflow: visible;
	white-space: nowrap;
	cursor: pointer;
	text-align: left;
	font-style: normal;
	font-weight: normal;
	font-size: 3vh;
	color: rgba(47,47,47,1);
}

#image_13 {
	position: absolute;
	height: 30vh;
	left: 22.5vh;
	top: 265vh;
}


#texte13 {
	left: 22.5vh;
	top: 300vh;
    width: 30vh;
	position: absolute;
	overflow: visible;
	white-space: nowrap;
	cursor: pointer;
	text-align: left;
	font-style: normal;
	font-weight: normal;
	font-size: 3vh;
	color: rgba(47,47,47,1);
}

#image_14 {
	position: absolute;
	height: 30vh;
	left: 62.5vh;
	top: 265vh;
}

#texte14 {
	left: 62.5vh;
	top: 300vh;
    width: 30vh;
	position: absolute;
	overflow: visible;
	white-space: nowrap;
	cursor: pointer;
	text-align: left;
	font-style: normal;
	font-weight: normal;
	font-size: 3vh;
	color: rgba(47,47,47,1);
}

#image_15 {
	position: absolute;
	height: 30vh;
	left: 102.5vh;
	top: 265vh;
}

#texte15 {
	left:102.5vh;
	top: 300vh;
    width: 30vh;
	position: absolute;
	overflow: visible;
	white-space: nowrap;
	cursor: pointer;
	text-align: left;
	font-style: normal;
	font-weight: normal;
	font-size: 3vh;
	color: rgba(47,47,47,1);
}

#image_16 {
	position: absolute;
	height: 30vh;
	left: 142.5vh;
	top: 265vh;
}

#texte16 {
	left: 142.5vh;
	top: 300vh;
    width: 30vh;
	position: absolute;
	overflow: visible;
	white-space: nowrap;
	cursor: pointer;
	text-align: left;
	font-style: normal;
	font-weight: normal;
	font-size: 3vh;
	color: rgba(47,47,47,1);
}

#image_17 {
	position: absolute;
	height: 30vh;
	left: 22.5vh;
	top: 345vh;
}


#texte17 {
	left: 22.5vh;
	top: 380vh;
    width: 30vh;
	position: absolute;
	overflow: visible;
	white-space: nowrap;
	cursor: pointer;
	text-align: left;
	font-style: normal;
	font-weight: normal;
	font-size: 3vh;
	color: rgba(47,47,47,1);
}

#image_18 {
	position: absolute;
	height: 30vh;
	left: 62.5vh;
	top: 345vh;
}

#texte18 {
	left: 62.5vh;
	top: 380vh;
    width: 30vh;
	position: absolute;
	overflow: visible;
	white-space: nowrap;
	cursor: pointer;
	text-align: left;
	font-style: normal;
	font-weight: normal;
	font-size: 3vh;
	color: rgba(47,47,47,1);
}

#image_19 {
	position: absolute;
	height: 30vh;
	left: 102.5vh;
	top: 345vh;
}

#texte19 {
	left:102.5vh;
	top: 380vh;
    width: 30vh;
	position: absolute;
	overflow: visible;
	white-space: nowrap;
	cursor: pointer;
	text-align: left;
	font-style: normal;
	font-weight: normal;
	font-size: 3vh;
	color: rgba(47,47,47,1);
}

#image_20 {
	position: absolute;
	height: 30vh;
	left: 142.5vh;
	top: 345vh;
}

#texte20 {
	left: 142.5vh;
	top: 380vh;
    width: 30vh;
	position: absolute;
	overflow: visible;
	white-space: nowrap;
	cursor: pointer;
	text-align: left;
	font-style: normal;
	font-weight: normal;
	font-size: 3vh;
	color: rgba(47,47,47,1);
}

#image_21 {
	position: absolute;
	height: 30vh;
	left: 22.5vh;
	top: 425vh;
}


#texte21 {
	left: 22.5vh;
	top: 460vh;
    width: 30vh;
	position: absolute;
	overflow: visible;
	white-space: nowrap;
	cursor: pointer;
	text-align: left;
	font-style: normal;
	font-weight: normal;
	font-size: 3vh;
	color: rgba(47,47,47,1);
}

#image_22 {
	position: absolute;
	height: 30vh;
	left: 62.5vh;
	top: 425vh;
}

#texte22 {
	left: 62.5vh;
	top: 460vh;
    width: 30vh;
	position: absolute;
	overflow: visible;
	white-space: nowrap;
	cursor: pointer;
	text-align: left;
	font-style: normal;
	font-weight: normal;
	font-size: 3vh;
	color: rgba(47,47,47,1);
}

#image_23 {
	position: absolute;
	height: 30vh;
	left: 102.5vh;
	top: 425vh;
}

#texte23 {
	left:102.5vh;
	top: 460vh;
    width: 30vh;
	position: absolute;
	overflow: visible;
	white-space: nowrap;
	cursor: pointer;
	text-align: left;
	font-style: normal;
	font-weight: normal;
	font-size: 3vh;
	color: rgba(47,47,47,1);
}

#image_24 {
	position: absolute;
	height: 30vh;
	left: 142.5vh;
	top: 425vh;
}

#texte24 {
	left: 142.5vh;
	top: 460vh;
    width: 30vh;
	position: absolute;
	overflow: visible;
	white-space: nowrap;
	cursor: pointer;
	text-align: left;
	font-style: normal;
	font-weight: normal;
	font-size: 3vh;
	color: rgba(47,47,47,1);
}

#image_25 {
	position: absolute;
	height: 30vh;
	left: 22.5vh;
	top: 505vh;
}


#texte25 {
	left: 22.5vh;
	top: 540vh;
    width: 30vh;
	position: absolute;
	overflow: visible;
	white-space: nowrap;
	cursor: pointer;
	text-align: left;
	font-style: normal;
	font-weight: normal;
	font-size: 3vh;
	color: rgba(47,47,47,1);
}

a:link {
    color: black; 
    text-decoration: none;
}

a:visited {
    color: black; 
    text-decoration: none;

}

a:hover {
    text-decoration: underline;
    
}

#credits {
	left: 80vh;
	top: 590vh;
    width: 30vh;
	position: absolute;
	overflow: visible;
	white-space: nowrap;
	cursor: pointer;
	text-align: left;
	font-style: normal;
	font-weight: normal;
	font-size: 3vh;
	color: rgba(47,47,47,1);
}



#accueil {
	left: 5vh;
	top: 3vh;
	position: fixed;
	overflow: visible;
	white-space: nowrap;
	cursor: pointer;
	text-align: left;
	font-style: normal;
	font-weight: normal;
	font-size: 3vh;
	color: rgba(47,47,47,1);
}


#tout {
	right: 95vh;
	top: 3vh;
	position: fixed;
	overflow: visible;
	white-space: nowrap;
	cursor: pointer;
	text-align: left;
	font-style: normal;
	font-weight: normal;
	font-size: 3vh;
	color: rgba(47,47,47,1);
    text-decoration: underline;
}

#M1 {
	right: 85vh;
	top: 3vh;
	position: fixed;
	overflow: visible;
	white-space: nowrap;
	cursor: pointer;
	text-align: left;
	font-style: normal;
	font-weight: normal;
	font-size: 3vh;
	color: rgba(47,47,47,1);
}

#M2 {
	right: 75vh;
	top: 3vh;
	position: fixed;
	overflow: visible;
	white-space: nowrap;
	cursor: pointer;
	text-align: left;
	font-style: normal;
	font-weight: normal;
	font-size: 3vh;
	color: rgba(47,47,47,1);
}

#espace {
	right: 50vh;
	top: 3vh;
	position: fixed;
	overflow: visible;
	white-space: nowrap;
	cursor: pointer;
	text-align: left;
	font-style: normal;
	font-weight: normal;
	font-size: 3vh;
	color: rgba(47,47,47,1);
}

#graphique {
	right: 25vh;
	top: 3vh;
	position: fixed;
	overflow: visible;
	white-space: nowrap;
	cursor: pointer;
	text-align: left;
	font-style: normal;
	font-weight: normal;
	font-size: 3vh;
	color: rgba(47,47,47,1);
}

#produit {
	right: 5vh;
	top: 3vh;
	position: fixed;
	overflow: visible;
	white-space: nowrap;
	cursor: pointer;
	text-align: left;
	font-style: normal;
	font-weight: normal;
	font-size: 3vh;
	color: rgba(47,47,47,1);
}

#en {
	right: 5vh;
	bottom: 3vh;
	position: fixed;
	overflow: visible;
	white-space: nowrap;
	cursor: pointer;
	text-align: left;
	font-style: normal;
	font-weight: normal;
	font-size: 7vh;
	color: rgba(47,47,47,1);
}

#fr {
	right: 5vh;
	bottom: 3vh;
	position: fixed;
	overflow: visible;
	white-space: nowrap;
	cursor: pointer;
	text-align: left;
	font-style: normal;
	font-weight: normal;
	font-size: 7vh;
	color: rgba(47,47,47,1);
}

#autre {
	left: 5vh;
	bottom: 3vh;
	position: fixed;
	overflow: visible;
	white-space: nowrap;
	cursor: pointer;
	text-align: left;
	font-style: normal;
	font-weight: normal;
	font-size: 7vh;
	color: rgba(47,47,47,1);
}


#fr:hover{
	text-decoration: underline;
	transition: 0.6s ease;
}

#en:hover{
	text-decoration: underline;
	transition: 0.6s ease;
}

#ah:hover{
	text-decoration: underline;
	transition: 0.6s ease;
}

#contact:hover{
	text-decoration: underline;
	transition: 0.6s ease;
}

#autre:hover{
	text-decoration: underline;
	transition: 0.6s ease;
}